<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rectWithSingleton</key>
	<string>chartEnvironmentScale</string>
	<key>riverpodMementoOffset</key>
	<string>missedUnaryFrequency</string>
	<key>serviceOrEnvironment</key>
	<string>signatureThroughWork</string>
	<key>similarMethodAcceleration</key>
	<string>resolverVisitorStatus</string>
	<key>subpixelActionSkewy</key>
	<string>usageParameterRotation</string>
	<key>variantLikeScope</key>
	<string>accessoryVarCount</string>
</dict>
</plist>
