<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleLossVisible</key>
	<string>heapCompositeSaturation</string>
	<key>autoCertificateLeft</key>
	<string>resilientBoxInterval</string>
	<key>invisibleTextureSaturation</key>
	<string>liteSineOrientation</string>
	<key>scaffoldSystemLocation</key>
	<string>roleObserverCount</string>
</dict>
</plist>
