<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderPerStyle</key>
	<string>publicMethodTint</string>
	<key>chapterAgainstForm</key>
	<string>curveLayerForce</string>
	<key>prevTransitionStyle</key>
	<string>widgetInterpreterSpacing</string>
	<key>projectInsideSingleton</key>
	<string>displayableLoopDuration</string>
	<key>similarRichtextInterval</key>
	<string>getxDespiteSystem</string>
	<key>textThanPattern</key>
	<string>tappableGridName</string>
	<key>usecaseActivityBottom</key>
	<string>newestMonsterStyle</string>
</dict>
</plist>
