<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineAwayVariable</key>
	<string>memberInParameter</string>
	<key>ephemeralCurveResponse</key>
	<string>displayableHashPressure</string>
	<key>extensionFormValidation</key>
	<string>exceptionOperationFormat</string>
	<key>significantRequestOrigin</key>
	<string>scaffoldTypeBorder</string>
	<key>storyboardFromOperation</key>
	<string>giftAsOperation</string>
	<key>zoneJobShade</key>
	<string>sceneByKind</string>
</dict>
</plist>
