<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionThroughComposite</key>
	<string>clipperDuringForm</string>
	<key>directRadioTag</key>
	<string>asyncStorageFrequency</string>
	<key>overlayKindDirection</key>
	<string>composableTaskBottom</string>
</dict>
</plist>
