<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonGetxStyle</key>
	<string>sceneDuringFunction</string>
	<key>delegatePerAction</key>
	<string>concurrentPositionRight</string>
	<key>gramSincePrototype</key>
	<string>radiusSingletonStyle</string>
	<key>lazyDescriptorShape</key>
	<string>delegateVarName</string>
	<key>mainChapterMargin</key>
	<string>cubeSinceMethod</string>
	<key>paddingInterpreterAlignment</key>
	<string>cosineCommandInteraction</string>
	<key>resolverActionTheme</key>
	<string>builderActionOrientation</string>
</dict>
</plist>
