<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityThanEnvironment</key>
	<string>resultBesideComposite</string>
	<key>declarativeZoneName</key>
	<string>visibleNotifierTop</string>
	<key>multiReductionEdge</key>
	<string>nextStateTag</string>
	<key>providerAboutAdapter</key>
	<string>usecaseExceptLevel</string>
	<key>resourceActivityCount</key>
	<string>checklistInterpreterVelocity</string>
	<key>responsiveKernelSpeed</key>
	<string>semanticModelSkewx</string>
</dict>
</plist>
