<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaByVar</key>
	<string>semanticObserverSpeed</string>
	<key>callbackVariableState</key>
	<string>widgetBeyondInterpreter</string>
	<key>controllerViaTask</key>
	<string>radiusChainCenter</string>
	<key>deferredTitleHue</key>
	<string>accessibleAnimatedcontainerBehavior</string>
	<key>nodeContextSpacing</key>
	<string>cyclePhaseMargin</string>
	<key>repositoryActivityDelay</key>
	<string>liteBoxshadowLocation</string>
	<key>resultOperationMode</key>
	<string>imageSinceJob</string>
	<key>stackEnvironmentState</key>
	<string>scrollBesideSingleton</string>
	<key>subpixelDuringFramework</key>
	<string>constraintBufferAppearance</string>
	<key>viewFlyweightTransparency</key>
	<string>independentObserverCenter</string>
</dict>
</plist>
