<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exponentMediatorSaturation</key>
	<string>resourceVarMargin</string>
	<key>reactiveNavigatorFeedback</key>
	<string>independentStateForce</string>
	<key>reusableTopicShape</key>
	<string>challengeBridgeResponse</string>
	<key>smartTransitionVisible</key>
	<string>newestTangentMargin</string>
	<key>uniqueSensorVisibility</key>
	<string>precisionAroundAdapter</string>
</dict>
</plist>
