<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationTaskRight</key>
	<string>dynamicConstraintContrast</string>
	<key>flexibleMethodColor</key>
	<string>flexStructureAppearance</string>
	<key>layoutProcessBound</key>
	<string>mapContextAppearance</string>
	<key>menuPatternInterval</key>
	<string>compositionalClipperMode</string>
	<key>navigatorLikeProcess</key>
	<string>localRiverpodKind</string>
	<key>previewPrototypeLeft</key>
	<string>consultativeSliderTransparency</string>
	<key>reactiveGateCenter</key>
	<string>missedMissionVelocity</string>
	<key>sequentialGraphDepth</key>
	<string>capacitiesNumberFormat</string>
	<key>singleInterfaceTag</key>
	<string>animatedcontainerInterpreterKind</string>
	<key>smallModalInteraction</key>
	<string>lastNavigatorOrigin</string>
</dict>
</plist>
