<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keyCollectionVisibility</key>
	<string>basicModelTheme</string>
	<key>loopAtCycle</key>
	<string>columnActionOrigin</string>
	<key>multiplicationParameterScale</key>
	<string>offsetAboutStructure</string>
	<key>permissiveStampInset</key>
	<string>gramProcessTheme</string>
</dict>
</plist>
