<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionIndicatorDepth</key>
	<string>elasticSpecifierState</string>
	<key>concurrentBatchStatus</key>
	<string>storageVersusCommand</string>
	<key>cosineLayerSpeed</key>
	<string>standaloneVectorTag</string>
	<key>grayscaleLikeType</key>
	<string>diversifiedIntensityType</string>
	<key>nextConsumerScale</key>
	<string>missedInterfaceShape</string>
	<key>nodeOutsideBridge</key>
	<string>completerWithoutState</string>
</dict>
</plist>
