<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionAtBuffer</key>
	<string>displayableGradientAlignment</string>
	<key>durationVisitorPosition</key>
	<string>sliderFrameworkMargin</string>
	<key>flexibleDimensionKind</key>
	<string>keyProviderInteraction</string>
	<key>hierarchicalPositionMomentum</key>
	<string>lastLayoutDirection</string>
	<key>modulusByDecorator</key>
	<string>entityChainCenter</string>
	<key>monsterAroundType</key>
	<string>webSkinAcceleration</string>
	<key>scaffoldThanState</key>
	<string>petFromAdapter</string>
	<key>uniformMapVisible</key>
	<string>interactiveNotifierPressure</string>
	<key>variantProcessValidation</key>
	<string>denseFlexFlags</string>
</dict>
</plist>
