<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitChainContrast</key>
	<string>navigationParamSpeed</string>
	<key>completerWorkStatus</key>
	<string>bufferKindTop</string>
	<key>constTransformerMomentum</key>
	<string>effectOutsideAdapter</string>
	<key>desktopLoopHue</key>
	<string>containerFrameworkBorder</string>
	<key>otherCollectionPressure</key>
	<string>getxPrototypeLocation</string>
	<key>touchNumberTag</key>
	<string>autoPositionHead</string>
</dict>
</plist>
