<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaStructureForce</key>
	<string>reducerDecoratorDelay</string>
	<key>consumerLikeInterpreter</key>
	<string>compositionalMediaTransparency</string>
	<key>disabledReductionColor</key>
	<string>offsetTaskTension</string>
	<key>intuitiveSinkScale</key>
	<string>mobxInEnvironment</string>
	<key>sliderBridgeDistance</key>
	<string>blocDuringParam</string>
</dict>
</plist>
