<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousGemOrigin</key>
	<string>delegateForInterpreter</string>
	<key>consumerInTask</key>
	<string>riverpodFunctionVisibility</string>
	<key>durationStructureTension</key>
	<string>asyncUsecaseShade</string>
	<key>storageExceptLayer</key>
	<string>callbackJobMomentum</string>
	<key>subtleRiverpodMode</key>
	<string>sampleFrameworkHue</string>
	<key>textureWithCommand</key>
	<string>taskByStructure</string>
</dict>
</plist>
