<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushTempleDensity</key>
	<string>finalFrameDuration</string>
	<key>builderFromProxy</key>
	<string>retainedServiceDelay</string>
	<key>frameObserverVisible</key>
	<string>localizationAboutComposite</string>
	<key>kernelAtTemple</key>
	<string>precisionStyleVelocity</string>
	<key>kernelCommandOrientation</key>
	<string>eventThroughVariable</string>
	<key>spineFacadeState</key>
	<string>eventAsChain</string>
	<key>tableDespiteMemento</key>
	<string>storageCycleBorder</string>
</dict>
</plist>
