<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationWithFunction</key>
	<string>reductionIncludeJob</string>
	<key>flexLikeParam</key>
	<string>entityJobType</string>
	<key>groupScopeScale</key>
	<string>pageviewAwayValue</string>
	<key>numericalVectorRotation</key>
	<string>greatSizedboxTension</string>
	<key>statefulActionInteraction</key>
	<string>cardOrPrototype</string>
	<key>symbolScopeVisible</key>
	<string>notifierLevelDirection</string>
	<key>symbolThroughParameter</key>
	<string>semanticInterfaceValidation</string>
	<key>tweenEnvironmentHue</key>
	<string>parallelDescriptionRate</string>
</dict>
</plist>
