<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryAboutStage</key>
	<string>largeBorderType</string>
	<key>configurationByMediator</key>
	<string>momentumDuringMethod</string>
	<key>frameFormFrequency</key>
	<string>memberExceptNumber</string>
	<key>geometricStackBorder</key>
	<string>lazySliderOrientation</string>
	<key>gridUntilNumber</key>
	<string>routeUntilMode</string>
	<key>heroActivityKind</key>
	<string>intuitiveNavigationForce</string>
	<key>multiChallengeFlags</key>
	<string>modelContainState</string>
	<key>observerWorkCount</key>
	<string>textFormVisible</string>
	<key>resultParameterSize</key>
	<string>standaloneLogState</string>
	<key>textfieldVarMomentum</key>
	<string>dependencyPhaseStyle</string>
</dict>
</plist>
