<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineOutsideValue</key>
	<string>baseExceptProxy</string>
	<key>commandBeyondFramework</key>
	<string>navigatorByActivity</string>
	<key>draggableCoordinatorPosition</key>
	<string>textParamSpacing</string>
	<key>grayscaleForShape</key>
	<string>robustBufferTheme</string>
	<key>gridAwayWork</key>
	<string>vectorWithoutFlyweight</string>
	<key>riverpodSinceParam</key>
	<string>injectionCompositeTop</string>
	<key>signFromForm</key>
	<string>sliderKindIndex</string>
	<key>singletonAroundProxy</key>
	<string>resultAgainstLevel</string>
	<key>vectorAgainstChain</key>
	<string>significantDocumentInterval</string>
	<key>vectorViaStage</key>
	<string>unaryEnvironmentPressure</string>
</dict>
</plist>
