<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSpecifierColor</key>
	<string>queryAgainstTemple</string>
	<key>baseSinceVar</key>
	<string>subpixelContainFunction</string>
	<key>custompaintSinceMemento</key>
	<string>errorActionEdge</string>
	<key>effectFromStructure</key>
	<string>accessibleQueueShade</string>
	<key>grayscaleBufferAcceleration</key>
	<string>utilSingletonRotation</string>
	<key>intermediateWidgetCenter</key>
	<string>singleSliderColor</string>
	<key>invisibleInjectionLocation</key>
	<string>observerNearMethod</string>
	<key>sequentialDimensionBehavior</key>
	<string>cycleSinceProcess</string>
	<key>significantIntensityTint</key>
	<string>transitionLayerVisibility</string>
</dict>
</plist>
