<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>missionParameterDirection</key>
	<string>cupertinoStageHue</string>
	<key>momentumAwayLayer</key>
	<string>statelessAllocatorValidation</string>
	<key>resourceAgainstPrototype</key>
	<string>tickerLayerSpeed</string>
	<key>responsiveReducerShape</key>
	<string>effectActionMargin</string>
</dict>
</plist>
