<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticShapeDepth</key>
	<string>variantUntilForm</string>
	<key>axisAroundMemento</key>
	<string>smallSubscriptionTop</string>
	<key>blocMementoOrientation</key>
	<string>subtleNotifierBound</string>
	<key>denseCallbackInteraction</key>
	<string>eagerBulletStyle</string>
	<key>immutableTitleInterval</key>
	<string>capacitiesNearMediator</string>
	<key>oldLayoutDuration</key>
	<string>modulusAwayBuffer</string>
	<key>particleFacadeLeft</key>
	<string>sustainableMetadataTransparency</string>
	<key>symbolOperationOrientation</key>
	<string>positionedAsStyle</string>
	<key>threadNearStage</key>
	<string>autoToolFlags</string>
</dict>
</plist>
