<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocWorkCount</key>
	<string>interactiveNavigatorRate</string>
	<key>decorationExceptMethod</key>
	<string>arithmeticTaskLeft</string>
	<key>integerLayerMomentum</key>
	<string>queueForTask</string>
	<key>mediaBeyondCycle</key>
	<string>exponentMementoHue</string>
	<key>respectiveKernelDelay</key>
	<string>accessoryByOperation</string>
	<key>sharedNavigatorLeft</key>
	<string>immutableTextureTag</string>
	<key>skinPrototypeValidation</key>
	<string>boxPhaseBottom</string>
</dict>
</plist>
