<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionAdapterVelocity</key>
	<string>workflowFrameworkDirection</string>
	<key>delicateIsolateEdge</key>
	<string>storeAmongObserver</string>
	<key>liteDocumentSize</key>
	<string>constraintForFlyweight</string>
	<key>previewDecoratorAlignment</key>
	<string>painterOutsideNumber</string>
</dict>
</plist>
