<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorTaskTension</key>
	<string>relationalScaleDistance</string>
	<key>delegateScopeDelay</key>
	<string>agileSliderDirection</string>
	<key>logMediatorFrequency</key>
	<string>gramNearMemento</string>
	<key>nibActionEdge</key>
	<string>equalizationShapeRate</string>
	<key>routerKindContrast</key>
	<string>mediaqueryStageDepth</string>
	<key>signLevelCoord</key>
	<string>cursorStructureDepth</string>
	<key>similarBinaryStatus</key>
	<string>mobileIndicatorStyle</string>
	<key>viewMediatorTransparency</key>
	<string>sensorStyleOpacity</string>
</dict>
</plist>
