<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureCompositeForce</key>
	<string>responseInsideWork</string>
	<key>assetVersusShape</key>
	<string>hierarchicalTernaryScale</string>
	<key>asyncBeyondStage</key>
	<string>featureFrameworkName</string>
	<key>custompaintOrParam</key>
	<string>typicalMapOrigin</string>
	<key>desktopCoordinatorVisible</key>
	<string>tangentAtPlatform</string>
	<key>effectThanFlyweight</key>
	<string>newestExpandedTop</string>
	<key>projectAgainstFunction</key>
	<string>baselineByVisitor</string>
	<key>secondVariantType</key>
	<string>matrixAwayWork</string>
</dict>
</plist>
