<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionInShape</key>
	<string>concreteMetadataShape</string>
	<key>displayableResponseOrientation</key>
	<string>signBridgePadding</string>
	<key>groupViaTask</key>
	<string>scaleStructureOrientation</string>
	<key>interactorCommandBottom</key>
	<string>futureModeTop</string>
	<key>menuDecoratorCenter</key>
	<string>reductionAsTask</string>
	<key>modulusInScope</key>
	<string>sceneViaType</string>
	<key>streamFunctionRate</key>
	<string>mediaqueryStateCenter</string>
	<key>textfieldLevelSkewx</key>
	<string>clipperParameterPressure</string>
	<key>timerThanType</key>
	<string>hierarchicalRowOpacity</string>
	<key>toolNearComposite</key>
	<string>signWithStructure</string>
</dict>
</plist>
