<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationOperationDelay</key>
	<string>mediaAboutPrototype</string>
	<key>customizedExponentVelocity</key>
	<string>statefulContextRate</string>
	<key>permanentStatelessContrast</key>
	<string>greatLayoutFlags</string>
	<key>primaryGetxSpeed</key>
	<string>channelBesideAction</string>
	<key>standaloneDecorationBottom</key>
	<string>newestHeroTheme</string>
</dict>
</plist>
