<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveExpandedPosition</key>
	<string>factoryInForm</string>
	<key>awaitAmongSingleton</key>
	<string>descriptionBufferOpacity</string>
	<key>currentIntensityLocation</key>
	<string>multiResponseDistance</string>
	<key>curveWithoutParam</key>
	<string>managerActionFormat</string>
	<key>entityVisitorAppearance</key>
	<string>symbolViaPattern</string>
	<key>firstLocalizationBehavior</key>
	<string>functionalInteractorFlags</string>
	<key>frameEnvironmentVisibility</key>
	<string>cupertinoPerLayer</string>
	<key>loopFacadeInset</key>
	<string>blocShapeCount</string>
	<key>touchWithoutFramework</key>
	<string>matrixTypeMomentum</string>
</dict>
</plist>
