<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaInsideInterpreter</key>
	<string>loopProcessDirection</string>
	<key>gateParameterOrientation</key>
	<string>observerBridgeAcceleration</string>
	<key>immutableTextShape</key>
	<string>comprehensiveInterfaceAcceleration</string>
	<key>prismaticAxisSpacing</key>
	<string>blocByFunction</string>
	<key>responsiveRepositoryBottom</key>
	<string>responseModeInterval</string>
	<key>temporaryTransitionTop</key>
	<string>constGetxOrientation</string>
</dict>
</plist>
