<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseDuringSingleton</key>
	<string>labelTempleIndex</string>
	<key>buttonSinceParam</key>
	<string>widgetDuringWork</string>
	<key>curveAsOperation</key>
	<string>observerActionHead</string>
	<key>gateInterpreterRate</key>
	<string>queueEnvironmentVisibility</string>
	<key>ignoredIntegerScale</key>
	<string>movementInParam</string>
	<key>pivotalSpineTint</key>
	<string>exceptionMediatorValidation</string>
	<key>priorExponentDuration</key>
	<string>aspectNearAction</string>
	<key>rapidServiceStyle</key>
	<string>resolverFormSkewx</string>
	<key>stateVisitorCenter</key>
	<string>durationPhaseBorder</string>
	<key>toolChainShape</key>
	<string>primaryErrorDelay</string>
</dict>
</plist>
