<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediumConvolutionFormat</key>
	<string>subscriptionSingletonVisibility</string>
	<key>roleCompositeStyle</key>
	<string>menuInterpreterBrightness</string>
	<key>scaleStageSize</key>
	<string>backwardCursorSpacing</string>
	<key>sizeLikeLayer</key>
	<string>accessibleModalContrast</string>
	<key>variantAdapterInteraction</key>
	<string>textProcessCoord</string>
</dict>
</plist>
