<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gramDecoratorCount</key>
	<string>layoutOfParameter</string>
	<key>mutableIsolateHue</key>
	<string>intuitiveLabelPadding</string>
	<key>tableViaPlatform</key>
	<string>subtleSingletonRotation</string>
</dict>
</plist>
