<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticOfSystem</key>
	<string>entityModeTheme</string>
	<key>dimensionFacadeDuration</key>
	<string>specifierStyleVelocity</string>
	<key>extensionBeyondPattern</key>
	<string>cupertinoMediaSaturation</string>
	<key>kernelWithoutDecorator</key>
	<string>semanticsStatePosition</string>
	<key>navigatorFlyweightAlignment</key>
	<string>logarithmActivityPadding</string>
	<key>normPlatformResponse</key>
	<string>managerInterpreterCount</string>
	<key>plateThanEnvironment</key>
	<string>originalScrollBottom</string>
	<key>scaffoldValueOrientation</key>
	<string>cubitAtWork</string>
	<key>streamOperationFlags</key>
	<string>builderVariableMode</string>
</dict>
</plist>
