<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocParamOffset</key>
	<string>repositoryAmongLayer</string>
	<key>cubitAroundTier</key>
	<string>mainAsyncSpeed</string>
	<key>directScrollOffset</key>
	<string>repositoryAmongSystem</string>
	<key>managerVersusAdapter</key>
	<string>asyncTaskKind</string>
	<key>singleTableDensity</key>
	<string>gradientValueFlags</string>
	<key>specifyHeroTop</key>
	<string>extensionChainShape</string>
	<key>storageAmongStage</key>
	<string>cupertinoContainCommand</string>
	<key>tickerFrameworkTension</key>
	<string>appbarUntilVariable</string>
	<key>usageWithTask</key>
	<string>axisVersusFacade</string>
</dict>
</plist>
