<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basePrototypeType</key>
	<string>statelessFutureResponse</string>
	<key>customPositionState</key>
	<string>invisibleSizeBottom</string>
	<key>factoryAgainstPhase</key>
	<string>frameBesideJob</string>
	<key>providerAboutProcess</key>
	<string>featureVariableStyle</string>
	<key>resolverDespiteLayer</key>
	<string>accessoryBesideInterpreter</string>
	<key>robustTableStyle</key>
	<string>alignmentInJob</string>
	<key>transitionAsVisitor</key>
	<string>taskFlyweightLeft</string>
</dict>
</plist>
