<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveCapsuleBottom</key>
	<string>sequentialGestureCount</string>
	<key>controllerOperationOpacity</key>
	<string>protocolTaskBehavior</string>
	<key>curveInBuffer</key>
	<string>activatedCubeTail</string>
	<key>errorScopeHue</key>
	<string>routeStageSize</string>
	<key>labelContextDepth</key>
	<string>handlerVersusMemento</string>
	<key>listenerAmongParam</key>
	<string>offsetInterpreterStyle</string>
	<key>navigatorProcessVelocity</key>
	<string>intuitiveObserverVisible</string>
	<key>permanentNibOffset</key>
	<string>zoneStateFeedback</string>
	<key>requestIncludeInterpreter</key>
	<string>routerTypeIndex</string>
	<key>sinkSystemAppearance</key>
	<string>inactiveStorageRotation</string>
</dict>
</plist>
