<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoMomentumAlignment</key>
	<string>capacitiesMethodVisibility</string>
	<key>batchInsideFacade</key>
	<string>animatedcontainerAtTask</string>
	<key>comprehensiveResourceRate</key>
	<string>transitionBridgeBound</string>
	<key>controllerAmongAction</key>
	<string>chartObserverType</string>
	<key>declarativeStorageKind</key>
	<string>commonBinaryBottom</string>
	<key>gridviewStrategyBound</key>
	<string>newestCoordinatorPosition</string>
	<key>labelMediatorTop</key>
	<string>interactorExceptCycle</string>
	<key>sliderLikeMemento</key>
	<string>completerNearTemple</string>
	<key>tappableCharacterRotation</key>
	<string>constraintAlongInterpreter</string>
</dict>
</plist>
