<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetWithStage</key>
	<string>smallCachePadding</string>
	<key>composableExceptionStatus</key>
	<string>uniqueSpriteBottom</string>
	<key>curveThanStage</key>
	<string>screenAroundFlyweight</string>
	<key>gridTempleMomentum</key>
	<string>constraintSystemContrast</string>
	<key>iterativeSensorForce</key>
	<string>subsequentViewShade</string>
	<key>metadataFrameworkOffset</key>
	<string>nibTypeOrigin</string>
	<key>movementForParam</key>
	<string>providerStylePosition</string>
	<key>persistentVariantSkewx</key>
	<string>sliderFrameworkDensity</string>
	<key>requestBeyondProcess</key>
	<string>sophisticatedModelState</string>
</dict>
</plist>
