<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeInterpreterCount</key>
	<string>optimizerActivityOrientation</string>
	<key>effectPlatformKind</key>
	<string>listenerPrototypeOrientation</string>
	<key>kernelModeOffset</key>
	<string>riverpodAwayOperation</string>
	<key>memberVariableBottom</key>
	<string>respectiveRectKind</string>
	<key>previewAroundMode</key>
	<string>scaleThanPattern</string>
	<key>skinNearBuffer</key>
	<string>animatedDurationOpacity</string>
	<key>usecaseFromChain</key>
	<string>stepThanType</string>
</dict>
</plist>
