<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoAlongBridge</key>
	<string>coordinatorExceptPhase</string>
	<key>layoutStageAlignment</key>
	<string>resourceLevelName</string>
	<key>modelIncludeStage</key>
	<string>localizationAlongMethod</string>
	<key>transitionStructureVisibility</key>
	<string>descriptionAndStructure</string>
	<key>zoneMediatorResponse</key>
	<string>containerFunctionAcceleration</string>
</dict>
</plist>
