<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasCommandRight</key>
	<string>textAroundTask</string>
	<key>errorPerEnvironment</key>
	<string>sliderOperationOpacity</string>
	<key>localIconDuration</key>
	<string>masterInterpreterLeft</string>
	<key>menuWithOperation</key>
	<string>multiPositionVisibility</string>
	<key>presenterFacadeRotation</key>
	<string>entityDuringCycle</string>
	<key>providerFrameworkHue</key>
	<string>presenterStrategyDelay</string>
	<key>remainderStrategyInset</key>
	<string>expandedStageFrequency</string>
	<key>scaffoldObserverDistance</key>
	<string>asyncSinceParam</string>
	<key>uniqueEventStatus</key>
	<string>streamKindDirection</string>
</dict>
</plist>
