<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedBaselineRate</key>
	<string>otherAssetVisible</string>
	<key>autoPositionKind</key>
	<string>originalBufferOrientation</string>
	<key>commonSizePadding</key>
	<string>rectChainTension</string>
	<key>directlyMatrixFormat</key>
	<string>channelMementoName</string>
	<key>entropyInterpreterInteraction</key>
	<string>unactivatedSubscriptionShape</string>
	<key>gateStructureShade</key>
	<string>significantResolverFrequency</string>
	<key>lossMementoRate</key>
	<string>listenerWithoutBridge</string>
	<key>singleButtonFormat</key>
	<string>popupBridgeBehavior</string>
	<key>staticSignatureInterval</key>
	<string>timerCompositeVisible</string>
</dict>
</plist>
