<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAtCommand</key>
	<string>remainderVariableAlignment</string>
	<key>arithmeticInterpreterOpacity</key>
	<string>resourceJobMomentum</string>
	<key>basicChannelsDelay</key>
	<string>checkboxAboutNumber</string>
	<key>interactiveSwiftCoord</key>
	<string>momentumUntilWork</string>
	<key>nativeActionPadding</key>
	<string>constraintNumberOpacity</string>
	<key>sharedRowDuration</key>
	<string>robustMobxTransparency</string>
	<key>sizeVariableFeedback</key>
	<string>rectContextShade</string>
</dict>
</plist>
