<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigationAtValue</key>
	<string>frameOutsideEnvironment</string>
	<key>richtextBeyondCycle</key>
	<string>euclideanCurveSize</string>
</dict>
</plist>
