<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocByAction</key>
	<string>hierarchicalHandlerOpacity</string>
	<key>bulletMethodStyle</key>
	<string>deferredPlateFrequency</string>
	<key>cachePatternShape</key>
	<string>constraintAdapterHead</string>
	<key>declarativeWorkflowDelay</key>
	<string>modelThroughSingleton</string>
	<key>delicateQueueBehavior</key>
	<string>labelChainOrientation</string>
	<key>labelNearObserver</key>
	<string>buttonMediatorVisibility</string>
	<key>nextSwitchAcceleration</key>
	<string>logarithmTypeDensity</string>
	<key>presenterPlatformMargin</key>
	<string>discardedExceptionInteraction</string>
	<key>publicProjectMargin</key>
	<string>commonTextureKind</string>
	<key>sceneTempleVelocity</key>
	<string>matrixStateStyle</string>
</dict>
</plist>
