<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableTransitionAcceleration</key>
	<string>semanticsStructureDistance</string>
	<key>independentStoreCount</key>
	<string>capsuleDuringVisitor</string>
	<key>memberOfTier</key>
	<string>normalFutureDistance</string>
	<key>skinThroughSystem</key>
	<string>methodBufferOpacity</string>
	<key>storeIncludeTemple</key>
	<string>normalCollectionLocation</string>
	<key>utilFacadeOrigin</key>
	<string>storeDespiteLevel</string>
</dict>
</plist>
