<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorMementoAcceleration</key>
	<string>sessionActionSkewx</string>
	<key>directlyProjectionBehavior</key>
	<string>usecaseAmongVariable</string>
	<key>flexibleFutureStyle</key>
	<string>drawerProcessSaturation</string>
	<key>lazyGesturedetectorMargin</key>
	<string>alignmentCommandMomentum</string>
	<key>liteChartForce</key>
	<string>profileAtTask</string>
	<key>techniqueValueType</key>
	<string>optionVariableSkewx</string>
</dict>
</plist>
