<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousRouteEdge</key>
	<string>rectAsVar</string>
	<key>iconPrototypeEdge</key>
	<string>beginnerMediaqueryHead</string>
	<key>ignoredAssetContrast</key>
	<string>usageIncludeDecorator</string>
	<key>largeBrushLeft</key>
	<string>radiusFrameworkAppearance</string>
	<key>taskMediatorRight</key>
	<string>substantialTopicFrequency</string>
	<key>tweenForStrategy</key>
	<string>layoutForWork</string>
</dict>
</plist>
