<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryProcessRate</key>
	<string>accordionSampleDepth</string>
	<key>axisDecoratorBorder</key>
	<string>inheritedCompleterTension</string>
	<key>errorActionDuration</key>
	<string>textfieldOrVar</string>
	<key>storageStructureAcceleration</key>
	<string>displayableBatchPressure</string>
	<key>tabviewCompositeEdge</key>
	<string>mapFrameworkRate</string>
	<key>toolTempleVelocity</key>
	<string>desktopInteractorLocation</string>
	<key>uniqueManagerKind</key>
	<string>tweenVariableStatus</string>
</dict>
</plist>
