<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerThanAdapter</key>
	<string>overlayStateMode</string>
	<key>delegateParameterRight</key>
	<string>eventChainPadding</string>
	<key>granularBuilderTint</key>
	<string>baseVersusActivity</string>
	<key>mainAlphaName</key>
	<string>newestFutureTint</string>
	<key>staticHeapBottom</key>
	<string>offsetCommandAcceleration</string>
</dict>
</plist>
