<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileSliderCount</key>
	<string>streamActivityShape</string>
	<key>cosineByOperation</key>
	<string>animatedcontainerModeStatus</string>
	<key>pageviewAroundPattern</key>
	<string>otherAsyncEdge</string>
	<key>priorIsolateVisibility</key>
	<string>rapidRoleResponse</string>
	<key>stepAtVisitor</key>
	<string>tickerViaVariable</string>
</dict>
</plist>
