<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarUntilPattern</key>
	<string>crudeResultShape</string>
	<key>deferredBitrateColor</key>
	<string>appbarVarOrientation</string>
	<key>movementCycleBorder</key>
	<string>requestParameterForce</string>
	<key>musicWithNumber</key>
	<string>logarithmStructureStatus</string>
	<key>repositoryLevelDuration</key>
	<string>actionBeyondTask</string>
	<key>serviceAsOperation</key>
	<string>requestIncludeObserver</string>
	<key>topicLevelOrigin</key>
	<string>subtleUsecaseLocation</string>
	<key>touchOperationDirection</key>
	<string>configurationSinceCycle</string>
	<key>vectorMediatorSize</key>
	<string>transitionMediatorFlags</string>
</dict>
</plist>
