<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationScopeVelocity</key>
	<string>reducerVarValidation</string>
	<key>delegateJobTop</key>
	<string>sortedRectTension</string>
	<key>expandedStructureInterval</key>
	<string>interfaceProxyPressure</string>
	<key>gramAmongDecorator</key>
	<string>containerOperationTension</string>
	<key>statefulChartLocation</key>
	<string>intensityVisitorTop</string>
</dict>
</plist>
