<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocFlyweightMode</key>
	<string>viewScopePosition</string>
	<key>builderPerTask</key>
	<string>priorAnimationKind</string>
	<key>comprehensiveActivityOrientation</key>
	<string>labelAroundParameter</string>
	<key>crucialBlocTail</key>
	<string>iterativeSegueOpacity</string>
	<key>disparateBinaryTransparency</key>
	<string>uniformParticleDelay</string>
	<key>resolverValueForce</key>
	<string>streamActionValidation</string>
	<key>symmetricThemeDelay</key>
	<string>displayableConfigurationOpacity</string>
</dict>
</plist>
