<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mapTempleAppearance</key>
	<string>usecaseStageName</string>
	<key>navigationAgainstParameter</key>
	<string>customizedCurveAppearance</string>
	<key>prevHashRight</key>
	<string>capsuleThroughDecorator</string>
</dict>
</plist>
