<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectViaTier</key>
	<string>substantialRequestDirection</string>
	<key>euclideanBulletRight</key>
	<string>alertParameterInset</string>
	<key>functionalParticleOffset</key>
	<string>streamWithoutForm</string>
	<key>positionOfVisitor</key>
	<string>interactorNearSystem</string>
	<key>resizableReferenceMode</key>
	<string>inheritedStackIndex</string>
	<key>sequentialSensorColor</key>
	<string>sizedboxParamRight</string>
</dict>
</plist>
