<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedRouterMargin</key>
	<string>loopPerProxy</string>
	<key>baseWithoutTask</key>
	<string>dedicatedAwaitTransparency</string>
	<key>cubeOperationSpeed</key>
	<string>transitionOrProxy</string>
	<key>labelBufferTint</key>
	<string>hashOfPhase</string>
	<key>scrollableGridDelay</key>
	<string>specifyControllerBound</string>
	<key>toolPatternTail</key>
	<string>cupertinoEffectCenter</string>
	<key>variantTypeDepth</key>
	<string>substantialExpandedBound</string>
</dict>
</plist>
