<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisFlyweightAcceleration</key>
	<string>awaitTaskIndex</string>
	<key>channelObserverCoord</key>
	<string>modelContextBorder</string>
	<key>fixedInterfaceDistance</key>
	<string>actionObserverInset</string>
	<key>iconContainTask</key>
	<string>buttonUntilTask</string>
	<key>independentInteractorResponse</key>
	<string>spineBeyondCommand</string>
	<key>mediumProjectBound</key>
	<string>modulusValueHue</string>
	<key>permanentBinaryAppearance</key>
	<string>substantialSwitchStyle</string>
	<key>positionedAlongAction</key>
	<string>menuCompositeVisible</string>
	<key>sceneTierFeedback</key>
	<string>animationFrameworkSaturation</string>
	<key>substantialExponentOpacity</key>
	<string>apertureByBridge</string>
</dict>
</plist>
