<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartContainTemple</key>
	<string>vectorSinceVisitor</string>
	<key>consultativeTernaryDepth</key>
	<string>effectPerContext</string>
	<key>globalBoxshadowColor</key>
	<string>ephemeralSwiftLeft</string>
	<key>persistentFeatureMode</key>
	<string>inheritedVariantSkewx</string>
	<key>prismaticCharacterDensity</key>
	<string>robustSegueLeft</string>
	<key>respectiveTextTag</key>
	<string>curveThanStyle</string>
	<key>singleTransitionIndex</key>
	<string>eventContextTag</string>
	<key>stampAwayTemple</key>
	<string>sortedTransitionLeft</string>
	<key>viewTierForce</key>
	<string>remainderShapeShape</string>
</dict>
</plist>
