<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesInOperation</key>
	<string>numericalCurveSpeed</string>
	<key>collectionAtFramework</key>
	<string>durationAsPhase</string>
	<key>crudeExpandedPadding</key>
	<string>intermediateQueueFormat</string>
	<key>customizedHandlerDepth</key>
	<string>delegateAgainstStrategy</string>
	<key>significantEquipmentBound</key>
	<string>loopProcessDuration</string>
	<key>subscriptionInAction</key>
	<string>logContainWork</string>
</dict>
</plist>
