<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionOrSingleton</key>
	<string>desktopUsageCount</string>
	<key>nodeSingletonPadding</key>
	<string>mobxKindFlags</string>
	<key>particleLikeWork</key>
	<string>disabledConstraintName</string>
	<key>slashActionName</key>
	<string>channelsDecoratorState</string>
	<key>utilWorkAlignment</key>
	<string>materialUtilSkewy</string>
</dict>
</plist>
