<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationInsideOperation</key>
	<string>protectedQueueVisible</string>
	<key>pivotalResultDirection</key>
	<string>multiNavigationIndex</string>
	<key>typicalPreviewTension</key>
	<string>activityAboutForm</string>
</dict>
</plist>
