<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerVariableShape</key>
	<string>usecaseActivityLocation</string>
	<key>disparateCommandLocation</key>
	<string>navigatorInsideOperation</string>
	<key>documentStrategyBorder</key>
	<string>pivotalAccessoryFrequency</string>
	<key>plateSinceScope</key>
	<string>dependencyTierForce</string>
	<key>relationalAlignmentSpeed</key>
	<string>backwardBoxRotation</string>
	<key>resizableEntityAppearance</key>
	<string>signProxyBrightness</string>
	<key>reusableBaseInteraction</key>
	<string>storagePerFlyweight</string>
	<key>sortedCapsuleBorder</key>
	<string>directlySceneContrast</string>
</dict>
</plist>
