<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncViaBridge</key>
	<string>zoneObserverPosition</string>
	<key>compositionalSpotState</key>
	<string>switchExceptCommand</string>
	<key>graphInterpreterCenter</key>
	<string>interfaceFunctionValidation</string>
	<key>iconEnvironmentTheme</key>
	<string>plateAgainstLayer</string>
	<key>lastSemanticsEdge</key>
	<string>mediumRouteFormat</string>
	<key>priorConstraintLeft</key>
	<string>heapProcessInterval</string>
	<key>streamAmongPlatform</key>
	<string>multiplicationThroughShape</string>
	<key>synchronousInterpolationIndex</key>
	<string>gateAndCommand</string>
</dict>
</plist>
