<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerUntilPlatform</key>
	<string>kernelAgainstBuffer</string>
	<key>disparatePreviewInteraction</key>
	<string>heapParameterMode</string>
	<key>masterAwayShape</key>
	<string>customSemanticsDepth</string>
	<key>materialPresenterHue</key>
	<string>lazyWidgetBorder</string>
	<key>mediaqueryNearShape</key>
	<string>popupLikeAdapter</string>
	<key>respectiveLayerSkewy</key>
	<string>firstPositionVisible</string>
	<key>seamlessMarginOffset</key>
	<string>resolverValueDirection</string>
	<key>statelessPreviewTheme</key>
	<string>nodeForParameter</string>
	<key>substantialIsolateType</key>
	<string>anchorPhaseBorder</string>
</dict>
</plist>
