<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarEnvironmentFlags</key>
	<string>serviceStateKind</string>
	<key>aspectratioKindSize</key>
	<string>asyncInterpreterSize</string>
	<key>binaryAroundDecorator</key>
	<string>swiftAndVariable</string>
	<key>gramVariableState</key>
	<string>timerExceptCycle</string>
	<key>multiPreviewStatus</key>
	<string>sliderTaskEdge</string>
	<key>reusableTransformerEdge</key>
	<string>equalizationInPrototype</string>
	<key>substantialEqualizationRate</key>
	<string>axisStateForce</string>
	<key>tappableInterfaceVisibility</key>
	<string>symmetricAspectOrientation</string>
</dict>
</plist>
