<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerTextBottom</key>
	<string>aspectWorkMomentum</string>
	<key>equalizationBesideShape</key>
	<string>spriteParameterInteraction</string>
	<key>isolateAmongMediator</key>
	<string>navigationChainVelocity</string>
	<key>primaryStampSaturation</key>
	<string>permanentRouteBorder</string>
	<key>reactiveLayerTag</key>
	<string>offsetAwayJob</string>
	<key>resultByType</key>
	<string>storeLevelSkewx</string>
	<key>subpixelDespiteProcess</key>
	<string>unaryBesideFacade</string>
</dict>
</plist>
