<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisAsMode</key>
	<string>normalQueueSaturation</string>
	<key>containerAndValue</key>
	<string>priorPetIndex</string>
	<key>durationAroundForm</key>
	<string>newestConstraintTop</string>
	<key>optimizerObserverBorder</key>
	<string>draggableIntensityFlags</string>
	<key>promiseTaskBrightness</key>
	<string>sceneActivityDensity</string>
	<key>textureFromAction</key>
	<string>prismaticChannelTension</string>
</dict>
</plist>
