<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorTypeHead</key>
	<string>subsequentFlexFeedback</string>
	<key>animationStructureType</key>
	<string>effectFacadeLocation</string>
	<key>customizedGetxName</key>
	<string>greatGraphTension</string>
	<key>diversifiedColumnDuration</key>
	<string>positionContextShape</string>
	<key>eventVisitorSpeed</key>
	<string>elasticPopupFlags</string>
	<key>intuitivePopupOffset</key>
	<string>immediateUsecaseRate</string>
	<key>persistentEventBottom</key>
	<string>spotAsParam</string>
	<key>presenterBeyondJob</key>
	<string>symbolStyleShade</string>
	<key>queueObserverBound</key>
	<string>sortedHashBottom</string>
</dict>
</plist>
