<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsInterpreterTension</key>
	<string>mediaThroughPhase</string>
	<key>functionalIntensityTransparency</key>
	<string>secondMemberBottom</string>
	<key>gemAsProcess</key>
	<string>exceptionDecoratorOffset</string>
	<key>gramCommandResponse</key>
	<string>isolateFlyweightCoord</string>
	<key>transitionCycleValidation</key>
	<string>newestClipperBehavior</string>
</dict>
</plist>
