<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationWithWork</key>
	<string>easyTableFormat</string>
	<key>configurationOrNumber</key>
	<string>sizedboxPhaseBrightness</string>
	<key>coordinatorBufferSkewy</key>
	<string>progressbarForVar</string>
	<key>offsetOutsideMemento</key>
	<string>finalButtonBehavior</string>
	<key>particleWithoutBridge</key>
	<string>dimensionFrameworkBound</string>
	<key>pivotalStackAlignment</key>
	<string>bufferProcessCoord</string>
	<key>scrollIncludeScope</key>
	<string>responseFrameworkDistance</string>
	<key>topicStyleAcceleration</key>
	<string>apertureSingletonRotation</string>
	<key>zoneVarTransparency</key>
	<string>extensionWithBuffer</string>
</dict>
</plist>
