<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keyIntensityStyle</key>
	<string>responseAlongValue</string>
	<key>labelAdapterType</key>
	<string>streamStrategyName</string>
	<key>responsivePositionedMomentum</key>
	<string>arithmeticActionPadding</string>
	<key>toolValueMomentum</key>
	<string>lazyPlaybackHue</string>
	<key>unaryStateMomentum</key>
	<string>boxStructureTheme</string>
</dict>
</plist>
