<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerPhaseTail</key>
	<string>repositoryContainPrototype</string>
	<key>effectLevelHue</key>
	<string>invisibleFeatureResponse</string>
	<key>handlerAsContext</key>
	<string>previewActionSkewy</string>
</dict>
</plist>
