<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityPlatformBehavior</key>
	<string>buttonExceptProcess</string>
	<key>equalizationAlongComposite</key>
	<string>providerAdapterRotation</string>
	<key>fixedProjectFlags</key>
	<string>taskFromStructure</string>
	<key>interactiveStorageState</key>
	<string>mainHandlerPressure</string>
	<key>modulusLikeMediator</key>
	<string>graphicPerWork</string>
	<key>multiplicationByType</key>
	<string>lastCanvasTheme</string>
	<key>observerUntilProcess</key>
	<string>sessionLevelTail</string>
	<key>responsivePointOffset</key>
	<string>challengeSinceNumber</string>
	<key>skinModeSpacing</key>
	<string>zoneAwayStyle</string>
	<key>spriteActivityLocation</key>
	<string>statelessBulletInset</string>
</dict>
</plist>
