<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferThanMethod</key>
	<string>inactiveLogEdge</string>
	<key>deferredTextfieldScale</key>
	<string>captionOfEnvironment</string>
	<key>firstQueryTheme</key>
	<string>containerPhaseResponse</string>
	<key>graphicBufferMode</key>
	<string>statefulPlatformBehavior</string>
	<key>mutableControllerFeedback</key>
	<string>statefulAlongFlyweight</string>
	<key>parallelPositionKind</key>
	<string>monsterVersusDecorator</string>
	<key>storeNumberCenter</key>
	<string>configurationAlongParameter</string>
</dict>
</plist>
