<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticCurveBorder</key>
	<string>progressbarEnvironmentDelay</string>
	<key>backwardConfigurationScale</key>
	<string>capacitiesAmongJob</string>
	<key>builderInEnvironment</key>
	<string>coordinatorWithoutScope</string>
	<key>cartesianCoordinatorSpeed</key>
	<string>inheritedResponseOrientation</string>
	<key>draggableCatalystState</key>
	<string>frameCommandRight</string>
	<key>layoutByVar</key>
	<string>documentCommandColor</string>
	<key>promiseDuringDecorator</key>
	<string>sortedBaselineAcceleration</string>
	<key>remainderAmongWork</key>
	<string>hierarchicalViewValidation</string>
	<key>smallStreamTop</key>
	<string>boxshadowKindDelay</string>
	<key>visibleTaskTop</key>
	<string>storageAroundLayer</string>
</dict>
</plist>
