<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousFlexSpacing</key>
	<string>dependencyOutsideMode</string>
	<key>channelBesideObserver</key>
	<string>boxSystemInteraction</string>
	<key>geometricSwiftName</key>
	<string>modulusDuringParameter</string>
	<key>inheritedScaffoldCoord</key>
	<string>coordinatorCommandInterval</string>
	<key>pivotalParticleOpacity</key>
	<string>allocatorWithoutTask</string>
	<key>semanticPopupInset</key>
	<string>synchronousRectCoord</string>
	<key>sequentialPlaybackOrientation</key>
	<string>rapidAnimationValidation</string>
	<key>stateBesideMediator</key>
	<string>temporaryTickerEdge</string>
	<key>synchronousAnimationPosition</key>
	<string>durationScopeHue</string>
</dict>
</plist>
