<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedHeapOffset</key>
	<string>variantDuringMode</string>
	<key>batchAwayTemple</key>
	<string>layerTempleAppearance</string>
	<key>gestureStructureType</key>
	<string>awaitTypeDuration</string>
	<key>giftViaProcess</key>
	<string>resolverAsOperation</string>
	<key>mediumRequestOpacity</key>
	<string>alignmentAlongDecorator</string>
	<key>previewExceptMemento</key>
	<string>logNumberSpacing</string>
	<key>previewThanFramework</key>
	<string>advancedChapterOrigin</string>
	<key>referenceScopeForce</key>
	<string>cartesianDimensionBehavior</string>
</dict>
</plist>
