<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitIncludeActivity</key>
	<string>retainedTableIndex</string>
	<key>modelByFunction</key>
	<string>globalContainerDirection</string>
	<key>navigatorLikeParam</key>
	<string>featureCompositeDirection</string>
	<key>remainderOrParam</key>
	<string>sizedboxAmongPrototype</string>
	<key>semanticAwaitTop</key>
	<string>invisibleMomentumSkewx</string>
</dict>
</plist>
