<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseProxyMomentum</key>
	<string>priorityUntilNumber</string>
	<key>durationAmongStyle</key>
	<string>previewStageStyle</string>
	<key>frameBeyondContext</key>
	<string>robustPlaybackSkewx</string>
	<key>multiplicationCommandFormat</key>
	<string>capacitiesBesideSystem</string>
	<key>plateAboutProcess</key>
	<string>labelShapePressure</string>
	<key>requiredSessionCenter</key>
	<string>vectorParameterDensity</string>
	<key>stampObserverName</key>
	<string>textfieldActionSize</string>
	<key>statePatternForce</key>
	<string>signatureScopeType</string>
	<key>zoneNumberBorder</key>
	<string>missedBorderResponse</string>
</dict>
</plist>
