<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopDescriptionScale</key>
	<string>borderFormBrightness</string>
	<key>mediaqueryNearStructure</key>
	<string>behaviorMethodTransparency</string>
	<key>rectOutsideNumber</key>
	<string>resultAboutPhase</string>
	<key>resizableReducerName</key>
	<string>draggableQueueState</string>
	<key>richtextContainOperation</key>
	<string>mediocreGroupAlignment</string>
	<key>serviceDecoratorTension</key>
	<string>tangentLevelVisible</string>
	<key>slashStyleName</key>
	<string>cardBufferDuration</string>
	<key>staticSinkState</key>
	<string>variantPatternTag</string>
	<key>transformerAgainstBridge</key>
	<string>sortedAspectTop</string>
</dict>
</plist>
