<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeStrategyBehavior</key>
	<string>temporaryLabelInterval</string>
	<key>menuParameterInset</key>
	<string>routeOfWork</string>
	<key>navigationBufferDistance</key>
	<string>concreteSubpixelLocation</string>
	<key>significantBuilderTransparency</key>
	<string>subscriptionFunctionBorder</string>
	<key>sortedGateValidation</key>
	<string>storageOutsidePattern</string>
</dict>
</plist>
