<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedTabbarCount</key>
	<string>querySinceForm</string>
	<key>alertMediatorVelocity</key>
	<string>fixedCurveAlignment</string>
	<key>animatedcontainerPhaseResponse</key>
	<string>effectNearChain</string>
	<key>futureKindPosition</key>
	<string>titleSingletonShape</string>
	<key>mediumDescriptionEdge</key>
	<string>progressbarBufferPadding</string>
	<key>providerMementoDepth</key>
	<string>drawerParameterKind</string>
	<key>specifyAspectratioFeedback</key>
	<string>gradientAdapterMode</string>
	<key>toolFunctionBorder</key>
	<string>titleModeFeedback</string>
</dict>
</plist>
