<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitForTask</key>
	<string>eventEnvironmentKind</string>
	<key>deferredAlertSkewx</key>
	<string>aspectratioViaParameter</string>
	<key>discardedGroupFrequency</key>
	<string>pointAdapterLocation</string>
	<key>textfieldFormBehavior</key>
	<string>immediateTweenInteraction</string>
</dict>
</plist>
