<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonBoxTail</key>
	<string>dynamicAssetRotation</string>
	<key>flexOperationTension</key>
	<string>specifierBufferFormat</string>
	<key>multiChartBrightness</key>
	<string>crudeSubpixelTheme</string>
	<key>paddingLevelAcceleration</key>
	<string>containerBesideProxy</string>
	<key>resolverBeyondMode</key>
	<string>completionLikePlatform</string>
	<key>scrollableSceneColor</key>
	<string>stateBridgeTop</string>
	<key>serviceTypeFormat</key>
	<string>toolVersusValue</string>
	<key>significantProviderPosition</key>
	<string>graphicWithoutProxy</string>
</dict>
</plist>
