<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitAndWork</key>
	<string>rowFunctionKind</string>
	<key>cosineModeSkewy</key>
	<string>hierarchicalLayerShade</string>
	<key>grainBeyondNumber</key>
	<string>gradientForVar</string>
	<key>inheritedPromiseTension</key>
	<string>playbackCycleMargin</string>
	<key>stackViaObserver</key>
	<string>easyDurationDensity</string>
	<key>topicBesideScope</key>
	<string>composableNodeFeedback</string>
</dict>
</plist>
