<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionPhaseLeft</key>
	<string>tweenFrameworkType</string>
	<key>buttonCompositeFlags</key>
	<string>inheritedPaddingDelay</string>
	<key>checkboxVarBottom</key>
	<string>loopAlongForm</string>
	<key>constAnimatedcontainerTag</key>
	<string>modalOutsideWork</string>
	<key>constraintAboutBridge</key>
	<string>elasticSkirtStyle</string>
	<key>diversifiedOperationPadding</key>
	<string>protectedParticleHead</string>
	<key>equalizationDuringLayer</key>
	<string>pageviewOperationHead</string>
	<key>factoryNumberTag</key>
	<string>interactiveResolverDepth</string>
	<key>finalDelegateType</key>
	<string>cupertinoStateRate</string>
	<key>workflowVersusTier</key>
	<string>durationBufferTheme</string>
</dict>
</plist>
