<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteOptimizerColor</key>
	<string>repositoryExceptShape</string>
	<key>interfaceActivityIndex</key>
	<string>uniformLoopType</string>
	<key>managerByFacade</key>
	<string>cellTypeCenter</string>
	<key>navigatorActionRate</key>
	<string>normalStorageBottom</string>
	<key>sizeAboutBridge</key>
	<string>utilBesideMemento</string>
</dict>
</plist>
