<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveRouterInterval</key>
	<string>heroAgainstTask</string>
	<key>animationOfProxy</key>
	<string>parallelLayerRight</string>
	<key>entityPerLayer</key>
	<string>staticAnimatedcontainerSaturation</string>
	<key>functionalGridviewDistance</key>
	<string>desktopResultDensity</string>
	<key>heapTierLocation</key>
	<string>interactorFromTier</string>
	<key>labelOperationHead</key>
	<string>otherAnimationTail</string>
	<key>persistentZoneColor</key>
	<string>numericalRequestLeft</string>
	<key>sceneUntilTemple</key>
	<string>respectiveRouterTag</string>
</dict>
</plist>
