<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushLayerTop</key>
	<string>navigatorLayerEdge</string>
	<key>directlyButtonVisible</key>
	<string>largeCommandIndex</string>
	<key>graphicAroundStage</key>
	<string>associatedGridviewHue</string>
	<key>intensityTierCoord</key>
	<string>discardedMobileIndex</string>
	<key>previewLikeStrategy</key>
	<string>dependencyScopeTint</string>
	<key>uniformTextShade</key>
	<string>eventTypeState</string>
</dict>
</plist>
