<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicCurveSpacing</key>
	<string>bitrateAlongShape</string>
	<key>desktopPainterStatus</key>
	<string>customProtocolEdge</string>
	<key>documentAsObserver</key>
	<string>prismaticRequestBottom</string>
	<key>movementAtCycle</key>
	<string>eagerSymbolOrientation</string>
	<key>protocolAgainstBuffer</key>
	<string>durationModeShape</string>
	<key>workflowThroughPlatform</key>
	<string>webBorderFormat</string>
</dict>
</plist>
