<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardPlaybackPosition</key>
	<string>cubitAboutStrategy</string>
	<key>explicitResponseTag</key>
	<string>assetAtStructure</string>
	<key>iterativeAnimationDelay</key>
	<string>topicPlatformVelocity</string>
	<key>parallelReducerStyle</key>
	<string>requestKindInterval</string>
	<key>precisionExceptParam</key>
	<string>sharedDelegateHue</string>
	<key>resourceMethodBound</key>
	<string>multiplicationFlyweightOffset</string>
</dict>
</plist>
