<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperInsideInterpreter</key>
	<string>equipmentThanOperation</string>
	<key>explicitTopicCoord</key>
	<string>catalystAtActivity</string>
	<key>secondListviewDistance</key>
	<string>histogramDespiteFacade</string>
	<key>textPatternSkewx</key>
	<string>constOptionPosition</string>
</dict>
</plist>
