<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentKindType</key>
	<string>statelessCardOffset</string>
	<key>alphaVarCoord</key>
	<string>callbackAdapterOrientation</string>
	<key>backwardTransitionResponse</key>
	<string>titleIncludeStyle</string>
	<key>normInFramework</key>
	<string>transitionOrLevel</string>
	<key>stepActionFlags</key>
	<string>directCurveTail</string>
</dict>
</plist>
