<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interfaceExceptStyle</key>
	<string>widgetAwayShape</string>
	<key>roleThanValue</key>
	<string>serviceSystemTag</string>
	<key>sinkInsideLayer</key>
	<string>tableAwayScope</string>
	<key>subscriptionExceptObserver</key>
	<string>tappableTaskSkewy</string>
	<key>tabbarTypeHue</key>
	<string>accordionPointRight</string>
</dict>
</plist>
