<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedTitleSpacing</key>
	<string>gesturedetectorSystemTint</string>
	<key>eagerDescriptorShape</key>
	<string>sceneInterpreterBehavior</string>
	<key>enabledProjectResponse</key>
	<string>timerVisitorDirection</string>
	<key>previewObserverPosition</key>
	<string>scaleCompositeAlignment</string>
	<key>responseNumberShade</key>
	<string>sineAboutMethod</string>
	<key>serviceSystemPressure</key>
	<string>timerOfBridge</string>
	<key>spotVarSpeed</key>
	<string>taskOfState</string>
	<key>swiftOrValue</key>
	<string>scaffoldScopeVisibility</string>
</dict>
</plist>
