<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteDurationTag</key>
	<string>ignoredSegmentTop</string>
	<key>finalUnaryVelocity</key>
	<string>mediumCacheValidation</string>
	<key>gemOutsideContext</key>
	<string>granularProjectionScale</string>
	<key>lostGetxRate</key>
	<string>controllerActionCenter</string>
	<key>publicReducerMomentum</key>
	<string>channelBesideJob</string>
	<key>signInState</key>
	<string>giftFlyweightFeedback</string>
	<key>sustainableSpriteTail</key>
	<string>expandedWithAdapter</string>
</dict>
</plist>
