<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAboutFacade</key>
	<string>actionVersusTemple</string>
	<key>buttonStrategyOrientation</key>
	<string>publicReferenceDuration</string>
	<key>configurationThanStructure</key>
	<string>loopContainMediator</string>
	<key>coordinatorParameterTransparency</key>
	<string>compositionalLogFrequency</string>
	<key>cycleJobSpacing</key>
	<string>fragmentInsideState</string>
	<key>declarativeLocalizationType</key>
	<string>lostTopicRotation</string>
	<key>factoryAwayCommand</key>
	<string>globalTransformerTension</string>
	<key>multiConstraintSkewx</key>
	<string>remainderShapeName</string>
	<key>offsetNumberTag</key>
	<string>futureStructureTheme</string>
	<key>sliderScopeShape</key>
	<string>storageStageTop</string>
</dict>
</plist>
