<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncFromPhase</key>
	<string>sustainableCoordinatorBrightness</string>
	<key>diversifiedBulletOrigin</key>
	<string>hierarchicalRoleRotation</string>
	<key>equalizationVarMode</key>
	<string>cubitFromPattern</string>
	<key>menuInsideTask</key>
	<string>gemShapeStatus</string>
	<key>resolverBeyondPattern</key>
	<string>canvasTemplePosition</string>
	<key>specifierProcessPressure</key>
	<string>accordionFlexEdge</string>
	<key>sustainableActivityStyle</key>
	<string>animatedcontainerStateVisible</string>
</dict>
</plist>
