<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferMementoContrast</key>
	<string>retainedTableVisibility</string>
	<key>futureLayerName</key>
	<string>commandAwayType</string>
	<key>imageOutsideBuffer</key>
	<string>normalGraphInteraction</string>
	<key>largeSpineFormat</key>
	<string>roleInNumber</string>
	<key>nativeScaffoldTint</key>
	<string>storageFormIndex</string>
	<key>protectedRemainderVelocity</key>
	<string>storyboardProxyOrigin</string>
	<key>segueDecoratorBound</key>
	<string>euclideanMethodShape</string>
	<key>sharedLayoutOrientation</key>
	<string>zoneTypeRight</string>
</dict>
</plist>
