<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureContextDensity</key>
	<string>sortedEntityPressure</string>
	<key>lastRowResponse</key>
	<string>scaleAgainstPlatform</string>
	<key>methodStateShade</key>
	<string>activatedConstraintContrast</string>
	<key>prevStateTint</key>
	<string>resolverBridgeFormat</string>
	<key>responsiveGridviewDuration</key>
	<string>singletonAsTier</string>
	<key>semanticTextureCenter</key>
	<string>previewPhaseRate</string>
	<key>shaderVisitorHue</key>
	<string>spriteDecoratorRight</string>
</dict>
</plist>
