<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAtValue</key>
	<string>rectOutsideInterpreter</string>
	<key>challengeTaskSkewx</key>
	<string>assetStageBound</string>
	<key>controllerChainLocation</key>
	<string>handlerAsPhase</string>
	<key>deferredAwaitCenter</key>
	<string>routeByLayer</string>
	<key>nibOrType</key>
	<string>constLocalizationAcceleration</string>
	<key>protectedScreenShade</key>
	<string>immediateTaskDirection</string>
	<key>relationalChallengeSpacing</key>
	<string>interactiveViewVisible</string>
</dict>
</plist>
