<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaAndPhase</key>
	<string>memberSystemOrientation</string>
	<key>columnProxyTail</key>
	<string>optionForVar</string>
	<key>containerPlatformBound</key>
	<string>compositionAmongPrototype</string>
	<key>effectJobRotation</key>
	<string>timerVariableInterval</string>
	<key>gesturedetectorLevelInset</key>
	<string>remainderViaForm</string>
	<key>localPriorityDistance</key>
	<string>queuePhaseMargin</string>
	<key>sizedboxPrototypeInset</key>
	<string>sustainableObserverName</string>
	<key>titleWithoutProcess</key>
	<string>entityThanContext</string>
</dict>
</plist>
