<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalBaseBound</key>
	<string>scrollableSingletonName</string>
	<key>imageBesideProxy</key>
	<string>appbarWithStructure</string>
	<key>protectedLossContrast</key>
	<string>pointInsideVariable</string>
	<key>resourceContainMode</key>
	<string>euclideanApertureCoord</string>
	<key>sortedStateEdge</key>
	<string>concurrentPetTension</string>
	<key>tabviewByVisitor</key>
	<string>particleLevelStatus</string>
</dict>
</plist>
