<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intuitiveMapShade</key>
	<string>resolverLevelDensity</string>
	<key>nibStageVisibility</key>
	<string>precisionDecoratorOpacity</string>
	<key>persistentDecorationInteraction</key>
	<string>numericalGrainAlignment</string>
	<key>specifierJobSkewy</key>
	<string>masterInsidePhase</string>
	<key>synchronousVariantTint</key>
	<string>plateAtMemento</string>
	<key>tappableTernaryOrientation</key>
	<string>characterLikeFramework</string>
</dict>
</plist>
