<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedProjectTail</key>
	<string>largeAnchorTransparency</string>
	<key>consultativeEqualizationTension</key>
	<string>builderShapeTop</string>
	<key>customMonsterBrightness</key>
	<string>immediateCupertinoMargin</string>
	<key>declarativePreviewRotation</key>
	<string>touchOrTemple</string>
	<key>greatOptimizerBorder</key>
	<string>directlyTweenAppearance</string>
	<key>navigatorPhaseResponse</key>
	<string>resilientLayerValidation</string>
	<key>notificationEnvironmentMomentum</key>
	<string>effectLayerTheme</string>
	<key>protectedNavigationKind</key>
	<string>menuSinceDecorator</string>
	<key>serviceThroughShape</key>
	<string>draggableQueueMode</string>
</dict>
</plist>
