<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerFromSingleton</key>
	<string>bitrateAsValue</string>
	<key>particleBesideMode</key>
	<string>animatedDrawerMargin</string>
	<key>sceneMethodOffset</key>
	<string>finalSingletonFlags</string>
	<key>sinkPatternMomentum</key>
	<string>exponentWorkRate</string>
</dict>
</plist>
