<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticBeyondObserver</key>
	<string>metadataInterpreterSpacing</string>
	<key>eagerSliderTransparency</key>
	<string>tickerStrategyHue</string>
	<key>pivotalActivityRate</key>
	<string>materialDescriptorSkewx</string>
	<key>scaffoldAmongState</key>
	<string>fixedInstructionStatus</string>
	<key>slashAtJob</key>
	<string>tensorScaleKind</string>
</dict>
</plist>
