<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instructionKindName</key>
	<string>tangentModeBottom</string>
	<key>isolateAgainstObserver</key>
	<string>radioInVariable</string>
	<key>keyOperationOrigin</key>
	<string>disparateTickerType</string>
	<key>scrollableRowTint</key>
	<string>compositionalPreviewResponse</string>
	<key>skirtBesideState</key>
	<string>chartStageDepth</string>
</dict>
</plist>
