<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaWithoutAction</key>
	<string>gestureContextSaturation</string>
	<key>gramTaskBorder</key>
	<string>primaryBufferInteraction</string>
	<key>interfaceIncludePattern</key>
	<string>slashWithoutComposite</string>
	<key>resourceAboutContext</key>
	<string>skinBeyondLayer</string>
</dict>
</plist>
