<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveVersusMemento</key>
	<string>queryVersusWork</string>
	<key>difficultSpriteAppearance</key>
	<string>grainNearFramework</string>
	<key>immutableCanvasDepth</key>
	<string>builderFromFacade</string>
	<key>imperativeMultiplicationDuration</key>
	<string>parallelEventDepth</string>
	<key>isolateWithDecorator</key>
	<string>resourceLayerState</string>
	<key>prioritySingletonSkewy</key>
	<string>largeLocalizationState</string>
	<key>rapidAsyncTension</key>
	<string>gestureInterpreterTransparency</string>
	<key>sophisticatedInkwellInset</key>
	<string>isolateJobType</string>
</dict>
</plist>
