<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationBeyondPlatform</key>
	<string>movementContainVar</string>
	<key>crudeScaffoldName</key>
	<string>fragmentAsPattern</string>
	<key>discardedUtilBrightness</key>
	<string>offsetOutsidePlatform</string>
	<key>lostPositionedRight</key>
	<string>reducerVarInterval</string>
	<key>techniqueAwayJob</key>
	<string>observerInPlatform</string>
</dict>
</plist>
