<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedMenuPosition</key>
	<string>decorationVisitorMomentum</string>
	<key>basicTitleBound</key>
	<string>firstSpecifierCount</string>
	<key>brushScopeTension</key>
	<string>cubitShapeOffset</string>
	<key>compositionalSegmentTint</key>
	<string>reactiveTopicFrequency</string>
	<key>independentStreamForce</key>
	<string>extensionMethodTransparency</string>
	<key>metadataDuringFlyweight</key>
	<string>storageJobOpacity</string>
	<key>musicThanInterpreter</key>
	<string>intensityBufferTail</string>
	<key>techniqueViaMemento</key>
	<string>monsterForVar</string>
	<key>transitionInsideFacade</key>
	<string>projectPerFlyweight</string>
</dict>
</plist>
