<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleExtensionPadding</key>
	<string>asynchronousVariantForce</string>
	<key>arithmeticActionStatus</key>
	<string>axisPerLevel</string>
	<key>concurrentCubitAlignment</key>
	<string>uniformFutureShape</string>
	<key>cubeSinceForm</key>
	<string>finalPlaybackVelocity</string>
	<key>descriptionInsideObserver</key>
	<string>handlerCompositeShade</string>
	<key>radiusActionVelocity</key>
	<string>declarativeQueryVisible</string>
	<key>rapidNavigatorKind</key>
	<string>matrixStateTag</string>
	<key>responsiveConsumerTint</key>
	<string>positionedChainLeft</string>
	<key>singletonCommandRotation</key>
	<string>sequentialEffectTop</string>
</dict>
</plist>
