<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelActivityStatus</key>
	<string>techniqueMediatorTheme</string>
	<key>operationAboutValue</key>
	<string>marginAndPhase</string>
	<key>otherSceneFlags</key>
	<string>providerNumberState</string>
	<key>techniqueWithParam</key>
	<string>subscriptionStateTheme</string>
</dict>
</plist>
