<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardCompletionTension</key>
	<string>descriptionAlongCommand</string>
	<key>cycleIncludeOperation</key>
	<string>imageSinceStrategy</string>
	<key>listviewPlatformMode</key>
	<string>dimensionScopeName</string>
	<key>modelModeSaturation</key>
	<string>decorationNumberFrequency</string>
	<key>pinchableBoxCount</key>
	<string>retainedSinkFrequency</string>
	<key>plateWithoutMemento</key>
	<string>sizeWithMediator</string>
	<key>prismaticToolTail</key>
	<string>invisibleZoneStyle</string>
	<key>timerVersusLevel</key>
	<string>interfaceStrategyName</string>
</dict>
</plist>
