<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constRequestSpacing</key>
	<string>subscriptionFacadeHue</string>
	<key>persistentShaderTop</key>
	<string>sceneProcessVelocity</string>
	<key>symbolDecoratorColor</key>
	<string>roleViaMethod</string>
</dict>
</plist>
