<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionWithoutPhase</key>
	<string>handlerStrategyBehavior</string>
	<key>resourceSinceActivity</key>
	<string>buttonFacadePressure</string>
	<key>sharedTableHead</key>
	<string>lossThroughWork</string>
</dict>
</plist>
