<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionOfAction</key>
	<string>mutableProjectionVelocity</string>
	<key>allocatorSystemBound</key>
	<string>displayableResolverOrientation</string>
	<key>constraintInterpreterDirection</key>
	<string>stackLikeFacade</string>
	<key>heapJobHue</key>
	<string>completerPrototypeVisibility</string>
	<key>newestCacheIndex</key>
	<string>interfaceTaskOffset</string>
	<key>robustIntensityMomentum</key>
	<string>dialogsThanProcess</string>
	<key>sensorTypeResponse</key>
	<string>skinIncludeSystem</string>
	<key>swiftFromDecorator</key>
	<string>cellAmongStrategy</string>
</dict>
</plist>
