<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncTempleMomentum</key>
	<string>intuitiveModulusRight</string>
	<key>capsuleAlongAction</key>
	<string>resultFlyweightVelocity</string>
	<key>constraintInObserver</key>
	<string>sharedTransitionShade</string>
	<key>layoutShapeTransparency</key>
	<string>topicForNumber</string>
	<key>reactiveActionTag</key>
	<string>navigatorFacadeStyle</string>
	<key>viewKindBottom</key>
	<string>resolverAgainstVariable</string>
</dict>
</plist>
