<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationCycleDensity</key>
	<string>offsetEnvironmentHead</string>
	<key>inactiveZoneShape</key>
	<string>segueAboutProxy</string>
	<key>mobileCardRotation</key>
	<string>futureStylePressure</string>
	<key>reusableMenuSkewy</key>
	<string>storageLikeStage</string>
</dict>
</plist>
