<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerActivityHue</key>
	<string>lastChartTint</string>
	<key>cursorContextEdge</key>
	<string>subscriptionAroundSingleton</string>
	<key>curvePrototypeOpacity</key>
	<string>intensitySinceFlyweight</string>
	<key>equalizationAlongCycle</key>
	<string>instructionFacadeBorder</string>
	<key>geometricPaddingCount</key>
	<string>coordinatorBridgeCount</string>
	<key>resizableMapName</key>
	<string>awaitContainNumber</string>
	<key>slashProcessFeedback</key>
	<string>gestureAsPhase</string>
</dict>
</plist>
