<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableResolverLocation</key>
	<string>substantialOffsetTop</string>
	<key>eagerSpriteAlignment</key>
	<string>compositionalSineRate</string>
	<key>loopBesideState</key>
	<string>euclideanTextPosition</string>
	<key>utilSystemBehavior</key>
	<string>menuForChain</string>
</dict>
</plist>
