<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletFromVar</key>
	<string>columnViaSystem</string>
	<key>flexibleAnimatedcontainerTheme</key>
	<string>ternaryDespiteShape</string>
	<key>previewBesideTask</key>
	<string>seamlessBufferBehavior</string>
	<key>significantTextCenter</key>
	<string>sequentialMovementInset</string>
	<key>temporaryCardHead</key>
	<string>repositoryFromPattern</string>
</dict>
</plist>
