<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interactiveRowTail</key>
	<string>logFlyweightShade</string>
	<key>modelPlatformForce</key>
	<string>decorationMementoContrast</string>
	<key>similarTransitionSpeed</key>
	<string>skinVisitorVelocity</string>
	<key>skinVersusPrototype</key>
	<string>vectorInActivity</string>
	<key>textPrototypeCoord</key>
	<string>prismaticLocalizationDistance</string>
	<key>themeLayerLeft</key>
	<string>sinkInsideShape</string>
	<key>toolNearVariable</key>
	<string>layerFacadeCoord</string>
</dict>
</plist>
