<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackBridgeMomentum</key>
	<string>stepChainBorder</string>
	<key>delegateAgainstLevel</key>
	<string>characterDecoratorValidation</string>
	<key>firstChartMode</key>
	<string>curveMediatorDensity</string>
	<key>managerBesideBridge</key>
	<string>textfieldTempleMode</string>
	<key>otherToolInteraction</key>
	<string>inheritedBrushSaturation</string>
	<key>sensorSingletonLocation</key>
	<string>sensorVersusValue</string>
	<key>subscriptionAwayFacade</key>
	<string>stepContextType</string>
	<key>topicParamBehavior</key>
	<string>notifierShapeDuration</string>
</dict>
</plist>
