<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectObserverVisible</key>
	<string>granularRepositoryTag</string>
	<key>buttonParameterSkewy</key>
	<string>remainderStrategyStyle</string>
	<key>desktopAnchorSpacing</key>
	<string>symmetricMobileFrequency</string>
	<key>intuitiveTabbarCount</key>
	<string>completerTempleDistance</string>
	<key>nextLogarithmTag</key>
	<string>displayableLayerResponse</string>
	<key>presenterChainAlignment</key>
	<string>challengeLevelCenter</string>
	<key>unaryBeyondCommand</key>
	<string>factoryThanTier</string>
</dict>
</plist>
