<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanChartDirection</key>
	<string>independentPreviewSaturation</string>
	<key>permanentResourcePressure</key>
	<string>statefulTweenDuration</string>
	<key>similarWidgetIndex</key>
	<string>disparateSliderPadding</string>
	<key>switchBridgeFormat</key>
	<string>interpolationFlyweightPadding</string>
	<key>unactivatedGridIndex</key>
	<string>cupertinoOrAction</string>
</dict>
</plist>
