<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interfaceWithoutTemple</key>
	<string>spinePatternMode</string>
	<key>materialKernelStyle</key>
	<string>appbarContextFrequency</string>
	<key>movementAtObserver</key>
	<string>oldHandlerInteraction</string>
	<key>newestParticleStatus</key>
	<string>skirtValueRate</string>
	<key>routeLikeProxy</key>
	<string>controllerNearContext</string>
	<key>scaleIncludeMemento</key>
	<string>resourceCycleAlignment</string>
	<key>sequentialObserverDepth</key>
	<string>cubitParamPosition</string>
	<key>smartExpandedRate</key>
	<string>temporaryMovementColor</string>
	<key>tweenAboutEnvironment</key>
	<string>presenterActionStyle</string>
</dict>
</plist>
