<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousCubitScale</key>
	<string>advancedNormInset</string>
	<key>flexibleIsolateBehavior</key>
	<string>zoneKindTop</string>
	<key>gateUntilLevel</key>
	<string>customStepResponse</string>
	<key>hashMethodCenter</key>
	<string>constLayoutSpeed</string>
	<key>opaqueSliderTheme</key>
	<string>scaffoldOrPrototype</string>
	<key>sequentialBuilderVisibility</key>
	<string>textfieldLikeContext</string>
	<key>techniqueShapeOrigin</key>
	<string>modelContainParameter</string>
</dict>
</plist>
