<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleLayoutAcceleration</key>
	<string>baselineAwaySingleton</string>
	<key>customSizeLocation</key>
	<string>uniformShaderDensity</string>
	<key>pageviewCommandBrightness</key>
	<string>bufferViaFlyweight</string>
	<key>resolverForAction</key>
	<string>materialMemberOrigin</string>
	<key>sizeFacadeFrequency</key>
	<string>paddingKindSaturation</string>
	<key>widgetChainAppearance</key>
	<string>cycleProcessLocation</string>
</dict>
</plist>
