<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralCacheDensity</key>
	<string>widgetPatternBorder</string>
	<key>radiusCycleVisible</key>
	<string>switchLikeComposite</string>
	<key>routeInPhase</key>
	<string>unsortedKernelAppearance</string>
	<key>rowNearEnvironment</key>
	<string>criticalChecklistIndex</string>
	<key>sequentialResolverFormat</key>
	<string>beginnerSampleBrightness</string>
	<key>serviceFlyweightMargin</key>
	<string>topicAsForm</string>
	<key>spriteLevelBottom</key>
	<string>textPatternDirection</string>
	<key>transformerInFlyweight</key>
	<string>graphicThanTask</string>
	<key>uniformConfigurationDepth</key>
	<string>primaryEffectCenter</string>
	<key>uniformNotifierOffset</key>
	<string>semanticMapVisible</string>
</dict>
</plist>
