<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationAgainstPrototype</key>
	<string>promiseInComposite</string>
	<key>eventFunctionHead</key>
	<string>liteGateSpeed</string>
	<key>futureThroughType</key>
	<string>lossAtNumber</string>
	<key>invisibleCallbackTop</key>
	<string>giftAtMethod</string>
	<key>labelVisitorPadding</key>
	<string>comprehensiveIconCoord</string>
	<key>radiusByState</key>
	<string>desktopButtonColor</string>
	<key>radiusProcessShape</key>
	<string>animationMementoRotation</string>
	<key>requestThanPattern</key>
	<string>grainFlyweightSize</string>
	<key>resourceDuringContext</key>
	<string>taskTierOrientation</string>
	<key>resultInterpreterIndex</key>
	<string>getxKindForce</string>
</dict>
</plist>
