<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowAgainstVar</key>
	<string>unactivatedAwaitSkewx</string>
	<key>referenceExceptTier</key>
	<string>heroAboutMediator</string>
	<key>uniqueSampleOrigin</key>
	<string>gridStrategyResponse</string>
	<key>webOverlayShape</key>
	<string>navigatorInBridge</string>
</dict>
</plist>
