<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteProviderAppearance</key>
	<string>batchAlongPattern</string>
	<key>expandedForAction</key>
	<string>referenceChainFrequency</string>
	<key>hardAwaitTint</key>
	<string>draggableEntityFormat</string>
	<key>remainderActivityMode</key>
	<string>singletonFrameworkFrequency</string>
	<key>sinkForVar</key>
	<string>gridviewCycleValidation</string>
</dict>
</plist>
