<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaAwayProxy</key>
	<string>rectObserverFlags</string>
	<key>iterativeConstraintCount</key>
	<string>richtextInterpreterOpacity</string>
	<key>nextBuilderDistance</key>
	<string>gestureContextLocation</string>
	<key>usecaseJobOpacity</key>
	<string>transitionEnvironmentAppearance</string>
	<key>variantJobInterval</key>
	<string>cupertinoMapForce</string>
</dict>
</plist>
