<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleLogarithmOffset</key>
	<string>logarithmUntilMode</string>
	<key>completionLevelDistance</key>
	<string>elasticActivityRate</string>
	<key>dynamicSegmentSkewx</key>
	<string>chapterTempleOpacity</string>
	<key>finalReducerTail</key>
	<string>challengeInsideTier</string>
	<key>loopAroundPattern</key>
	<string>compositionalPlaybackName</string>
	<key>sampleTempleValidation</key>
	<string>cosineCompositeKind</string>
	<key>shaderParamSkewx</key>
	<string>composableCommandTension</string>
</dict>
</plist>
