<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonContainPlatform</key>
	<string>gesturedetectorAroundStyle</string>
	<key>cubitAtMemento</key>
	<string>reductionOrWork</string>
	<key>cupertinoFromBridge</key>
	<string>handlerForParam</string>
	<key>intensityFlyweightDirection</key>
	<string>numericalModelBorder</string>
	<key>missionFlyweightBrightness</key>
	<string>explicitControllerEdge</string>
	<key>titleInsideStage</key>
	<string>positionedVersusStyle</string>
</dict>
</plist>
