<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedRectShade</key>
	<string>largeDecorationFrequency</string>
	<key>checkboxNearLevel</key>
	<string>equalizationActionBehavior</string>
	<key>cubeLevelSkewx</key>
	<string>taskSinceVariable</string>
	<key>metadataFunctionName</key>
	<string>nodeByMethod</string>
	<key>momentumLayerSize</key>
	<string>requiredSceneFormat</string>
	<key>progressbarActivityMomentum</key>
	<string>capsuleContainStructure</string>
	<key>specifyNotifierSkewx</key>
	<string>stateExceptFramework</string>
	<key>storageWithoutFramework</key>
	<string>crucialLayoutTop</string>
	<key>textureAlongStyle</key>
	<string>coordinatorWithInterpreter</string>
	<key>uniqueSignFormat</key>
	<string>lazyMobxBottom</string>
</dict>
</plist>
