<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationFacadeCoord</key>
	<string>controllerThanMediator</string>
	<key>requiredChallengeTag</key>
	<string>cacheIncludeStructure</string>
	<key>routePatternOpacity</key>
	<string>cacheIncludeNumber</string>
	<key>sortedSinkMargin</key>
	<string>storageUntilPrototype</string>
</dict>
</plist>
