<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardOrMediator</key>
	<string>accessoryWithoutStructure</string>
	<key>functionalParticleOffset</key>
	<string>customSpotVisibility</string>
	<key>iterativeDescriptionTail</key>
	<string>reactiveFactoryBound</string>
	<key>missedParticleShape</key>
	<string>threadScopeSkewx</string>
	<key>resilientTabviewHue</key>
	<string>canvasForStyle</string>
	<key>sophisticatedMarginDistance</key>
	<string>monsterInterpreterOffset</string>
</dict>
</plist>
