<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableDropdownbuttonEdge</key>
	<string>originalIconPadding</string>
	<key>globalTweenHue</key>
	<string>entropyCompositeCount</string>
	<key>materialAboutPattern</key>
	<string>effectChainDuration</string>
	<key>prismaticRadiusCoord</key>
	<string>prismaticPageviewOpacity</string>
	<key>segueOfShape</key>
	<string>cyclePerComposite</string>
	<key>similarSpineLocation</key>
	<string>smallProviderVelocity</string>
	<key>singleCompletionDepth</key>
	<string>firstBulletSaturation</string>
</dict>
</plist>
