<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCosineAcceleration</key>
	<string>widgetForBuffer</string>
	<key>basicToolCoord</key>
	<string>rowThroughValue</string>
	<key>curveIncludeCommand</key>
	<string>managerIncludePhase</string>
	<key>firstGradientSize</key>
	<string>allocatorPlatformOrientation</string>
	<key>futureExceptCycle</key>
	<string>scrollWithoutVar</string>
	<key>layerContainForm</key>
	<string>compositionCompositeAlignment</string>
	<key>parallelScrollAlignment</key>
	<string>toolCompositeSkewy</string>
	<key>staticRectTag</key>
	<string>displayableNavigatorName</string>
	<key>swiftAwayStage</key>
	<string>substantialContainerStatus</string>
	<key>utilProcessInset</key>
	<string>apertureOutsideMemento</string>
</dict>
</plist>
