<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnDuringValue</key>
	<string>directCupertinoInteraction</string>
	<key>mediaqueryCommandInset</key>
	<string>petWithVar</string>
	<key>promiseParameterTag</key>
	<string>unactivatedRowBrightness</string>
	<key>rowIncludeType</key>
	<string>spotFormHead</string>
	<key>scaleAndMode</key>
	<string>sinkAwayActivity</string>
	<key>sensorVersusForm</key>
	<string>specifySubscriptionBehavior</string>
	<key>ternaryContextCoord</key>
	<string>ignoredScaleScale</string>
</dict>
</plist>
