<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoQuerySkewx</key>
	<string>smallBufferInteraction</string>
	<key>desktopSemanticsDirection</key>
	<string>plateProxyContrast</string>
	<key>disparateMultiplicationKind</key>
	<string>exceptionContainTemple</string>
	<key>globalCustompaintTransparency</key>
	<string>hierarchicalGrayscaleBottom</string>
	<key>mapDecoratorOrientation</key>
	<string>plateSincePlatform</string>
	<key>multiMemberIndex</key>
	<string>queryAmongBridge</string>
	<key>navigatorUntilComposite</key>
	<string>routeAlongSystem</string>
	<key>queryBesideContext</key>
	<string>disabledInterpolationCount</string>
	<key>signatureAdapterMode</key>
	<string>rectThroughFramework</string>
</dict>
</plist>
