<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableFactoryInteraction</key>
	<string>completionThroughTemple</string>
	<key>liteDescriptionSpacing</key>
	<string>uniformNormOffset</string>
	<key>marginDecoratorResponse</key>
	<string>rectStructureBound</string>
	<key>screenActivityInterval</key>
	<string>staticBoxBrightness</string>
	<key>sharedAnimationLeft</key>
	<string>reusableGateResponse</string>
	<key>taskAboutOperation</key>
	<string>disabledActionType</string>
	<key>topicExceptVariable</key>
	<string>consultativeStateInteraction</string>
</dict>
</plist>
