<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCubitStatus</key>
	<string>reducerIncludeContext</string>
	<key>builderAlongObserver</key>
	<string>cursorPhaseDensity</string>
	<key>collectionJobShape</key>
	<string>numericalNavigatorHue</string>
	<key>sizeBridgeLocation</key>
	<string>topicBesideStrategy</string>
	<key>smartInterfacePressure</key>
	<string>enabledHashContrast</string>
	<key>unactivatedLayerBrightness</key>
	<string>layerObserverTail</string>
	<key>usedCoordinatorColor</key>
	<string>routerCommandRate</string>
</dict>
</plist>
