<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertStrategyForce</key>
	<string>basicReducerMomentum</string>
	<key>chapterOfAdapter</key>
	<string>positionedWithoutLayer</string>
	<key>heapLevelRotation</key>
	<string>mediaqueryBesideComposite</string>
	<key>logarithmVarName</key>
	<string>disabledStreamAcceleration</string>
	<key>permissiveMarginDistance</key>
	<string>deferredTransitionLeft</string>
	<key>respectiveIconTheme</key>
	<string>similarCoordinatorMomentum</string>
</dict>
</plist>
