<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicFutureSize</key>
	<string>containerAmongPhase</string>
	<key>coordinatorOfAdapter</key>
	<string>disparateDurationValidation</string>
	<key>dynamicReferenceRate</key>
	<string>progressbarExceptMediator</string>
	<key>futureBufferLocation</key>
	<string>liteImageSpeed</string>
	<key>loopShapeBottom</key>
	<string>skirtFromVar</string>
	<key>newestMenuOpacity</key>
	<string>sampleInterpreterType</string>
	<key>screenContainBuffer</key>
	<string>brushForLayer</string>
	<key>streamExceptAdapter</key>
	<string>hyperbolicLabelOrientation</string>
</dict>
</plist>
