<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationJobSpacing</key>
	<string>instructionContextInteraction</string>
	<key>durationExceptVariable</key>
	<string>profileStylePadding</string>
	<key>logarithmMementoDistance</key>
	<string>zoneDespiteMode</string>
	<key>observerAgainstJob</key>
	<string>localSessionVisible</string>
	<key>popupDuringLevel</key>
	<string>newestMetadataDensity</string>
	<key>primaryBuilderInteraction</key>
	<string>cardTaskOpacity</string>
	<key>referenceInterpreterDensity</key>
	<string>interfaceFromProxy</string>
	<key>resilientBuilderAlignment</key>
	<string>concurrentModelInteraction</string>
	<key>sequentialRouteStatus</key>
	<string>projectionAboutOperation</string>
</dict>
</plist>
