<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aperturePerTask</key>
	<string>popupDecoratorTint</string>
	<key>bufferProcessRight</key>
	<string>bulletVersusPrototype</string>
	<key>hashActivityRate</key>
	<string>builderJobMargin</string>
	<key>newestIntensityOpacity</key>
	<string>builderJobSize</string>
	<key>resourceOrCommand</key>
	<string>mobileAtCommand</string>
	<key>routeStrategyPadding</key>
	<string>rapidServiceAlignment</string>
	<key>signatureLevelDistance</key>
	<string>themeActivityVisible</string>
	<key>storeMediatorColor</key>
	<string>interactiveLayerTheme</string>
	<key>textExceptStyle</key>
	<string>storyboardMediatorMode</string>
	<key>vectorAsMethod</key>
	<string>popupSingletonLeft</string>
</dict>
</plist>
