<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderPerParameter</key>
	<string>asynchronousMonsterValidation</string>
	<key>liteModulusLocation</key>
	<string>inactiveAnimationDepth</string>
	<key>managerCommandIndex</key>
	<string>switchFrameworkFlags</string>
	<key>signatureBesideComposite</key>
	<string>richtextThroughVariable</string>
</dict>
</plist>
