<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetInsideStructure</key>
	<string>notifierLikeFunction</string>
	<key>autoTextInset</key>
	<string>staticRouteLocation</string>
	<key>compositionParameterCenter</key>
	<string>taskOrVar</string>
	<key>descriptionInsideStructure</key>
	<string>segmentWithoutPrototype</string>
	<key>explicitGrayscaleShape</key>
	<string>concreteEntitySkewy</string>
	<key>navigationFromAdapter</key>
	<string>descriptorFromComposite</string>
	<key>queryChainAppearance</key>
	<string>navigatorWithScope</string>
</dict>
</plist>
