<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartFrameworkType</key>
	<string>singleResponsePadding</string>
	<key>cubeFunctionKind</key>
	<string>mobileGroupStatus</string>
	<key>dynamicChartPressure</key>
	<string>compositionalIconPosition</string>
	<key>painterPhaseEdge</key>
	<string>sceneOutsideMediator</string>
	<key>particleNearSystem</key>
	<string>secondConfigurationSkewx</string>
	<key>radiusTierSaturation</key>
	<string>heroSingletonDirection</string>
	<key>requiredNibPosition</key>
	<string>textureProcessIndex</string>
	<key>resilientCommandLocation</key>
	<string>oldStateDistance</string>
</dict>
</plist>
