<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousModelTint</key>
	<string>crudeVectorRotation</string>
	<key>musicModePadding</key>
	<string>sharedGridShape</string>
	<key>opaqueLabelTheme</key>
	<string>intuitiveCompositionDistance</string>
	<key>particleStyleRate</key>
	<string>sizeTierHead</string>
	<key>segueThroughState</key>
	<string>captionActionIndex</string>
	<key>sliderExceptShape</key>
	<string>significantCertificateVisibility</string>
	<key>temporarySignRotation</key>
	<string>signatureStateResponse</string>
</dict>
</plist>
