<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxNumberMomentum</key>
	<string>configurationTaskDepth</string>
	<key>chapterAsFlyweight</key>
	<string>projectWorkVisibility</string>
	<key>columnInsideMediator</key>
	<string>callbackFromWork</string>
	<key>containerSystemVelocity</key>
	<string>crucialColumnTension</string>
	<key>directGateFormat</key>
	<string>toolByProxy</string>
	<key>drawerAboutComposite</key>
	<string>composableRowRight</string>
	<key>immutableQueueKind</key>
	<string>bitrateAmongBuffer</string>
</dict>
</plist>
