<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertExceptAdapter</key>
	<string>standaloneManagerContrast</string>
	<key>asyncWithoutFlyweight</key>
	<string>asynchronousSinkForce</string>
	<key>curveOrObserver</key>
	<string>utilParamAppearance</string>
	<key>fragmentValueSkewy</key>
	<string>heroSystemLeft</string>
	<key>optionEnvironmentOrientation</key>
	<string>titleActionAppearance</string>
	<key>utilTemplePressure</key>
	<string>scaffoldFacadeSize</string>
</dict>
</plist>
