<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionOperationSpacing</key>
	<string>grayscaleAsMode</string>
	<key>activityVarTop</key>
	<string>textViaContext</string>
	<key>chartDespiteParam</key>
	<string>servicePerMode</string>
	<key>optionShapeRate</key>
	<string>sampleTaskSpacing</string>
	<key>remainderPatternAlignment</key>
	<string>graphVariableBorder</string>
	<key>respectiveMultiplicationDistance</key>
	<string>certificateFrameworkCount</string>
	<key>sharedDurationTransparency</key>
	<string>gesturedetectorInsideTier</string>
	<key>singletonFunctionScale</key>
	<string>routeContextOrigin</string>
	<key>subscriptionAmongPhase</key>
	<string>mediaqueryStrategyColor</string>
</dict>
</plist>
