<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerErrorType</key>
	<string>collectionAlongVar</string>
	<key>behaviorForTask</key>
	<string>transformerBeyondChain</string>
	<key>bitrateStateVelocity</key>
	<string>functionalAxisIndex</string>
	<key>collectionMementoState</key>
	<string>gesturedetectorBufferFlags</string>
	<key>euclideanSizeSize</key>
	<string>statelessBesideJob</string>
	<key>featureVariableStatus</key>
	<string>dependencyBesideOperation</string>
	<key>pointVersusObserver</key>
	<string>offsetVarFlags</string>
	<key>previewInterpreterDirection</key>
	<string>groupStateMargin</string>
</dict>
</plist>
