<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitRiverpodTop</key>
	<string>segmentMediatorBorder</string>
	<key>hashActionContrast</key>
	<string>navigationCommandResponse</string>
	<key>loopNearParam</key>
	<string>stackLikeShape</string>
	<key>playbackAmongEnvironment</key>
	<string>streamByVisitor</string>
	<key>sineInsideForm</key>
	<string>sensorWithoutLayer</string>
	<key>temporaryStatelessInset</key>
	<string>immediateDecorationMargin</string>
</dict>
</plist>
