<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertFromCommand</key>
	<string>effectParamOffset</string>
	<key>curveThanStage</key>
	<string>prismaticReductionSpeed</string>
	<key>groupPhaseDelay</key>
	<string>independentResolverType</string>
	<key>inheritedTransitionSpacing</key>
	<string>intermediateTabbarOrientation</string>
	<key>opaqueConstraintCenter</key>
	<string>tweenEnvironmentOpacity</string>
	<key>routeContainBridge</key>
	<string>previewStageFormat</string>
	<key>sizeObserverCenter</key>
	<string>taskFacadeSkewx</string>
	<key>taskContextName</key>
	<string>modelStateSkewy</string>
</dict>
</plist>
