<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitAwayProxy</key>
	<string>accessibleSizedboxEdge</string>
	<key>buttonThroughActivity</key>
	<string>swiftBeyondWork</string>
	<key>frameOutsideInterpreter</key>
	<string>actionBeyondTemple</string>
	<key>listviewVersusObserver</key>
	<string>fixedScrollSkewy</string>
	<key>rowContainMemento</key>
	<string>gradientContextFlags</string>
	<key>subsequentDecorationSkewx</key>
	<string>reusableIndicatorInteraction</string>
</dict>
</plist>
