<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticInVariable</key>
	<string>roleActivityRotation</string>
	<key>flexibleMobileCenter</key>
	<string>isolateForLayer</string>
	<key>gridActionKind</key>
	<string>materialConstraintDuration</string>
	<key>keyOperationOpacity</key>
	<string>projectChainRotation</string>
	<key>liteInteractorTint</key>
	<string>utilSinceValue</string>
	<key>resolverAroundProcess</key>
	<string>functionalResourceRotation</string>
</dict>
</plist>
