<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanCallbackVisibility</key>
	<string>buttonAgainstParam</string>
	<key>graphicStatePressure</key>
	<string>chartStyleBound</string>
	<key>multiAnchorTension</key>
	<string>transitionThanSystem</string>
	<key>newestButtonFeedback</key>
	<string>diversifiedStateDepth</string>
	<key>sceneLikeState</key>
	<string>accessibleServiceMomentum</string>
	<key>standaloneKernelTag</key>
	<string>sortedLayoutFlags</string>
	<key>uniqueDecorationIndex</key>
	<string>diversifiedAlignmentBottom</string>
</dict>
</plist>
