<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hierarchicalCacheState</key>
	<string>utilScopeState</string>
	<key>immediateSizedboxOrigin</key>
	<string>singleGrayscaleShade</string>
	<key>navigatorStrategyAppearance</key>
	<string>actionAsFacade</string>
	<key>protectedCurveInterval</key>
	<string>symbolUntilVariable</string>
	<key>sequentialInteractorRate</key>
	<string>smartStampDirection</string>
	<key>topicPhaseTransparency</key>
	<string>coordinatorMediatorTheme</string>
</dict>
</plist>
