<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectFlyweightForce</key>
	<string>buttonPlatformHead</string>
	<key>criticalHistogramIndex</key>
	<string>dimensionNumberKind</string>
	<key>descriptionInProcess</key>
	<string>sequentialNormSkewx</string>
	<key>flexibleTopicTension</key>
	<string>titleAboutOperation</string>
	<key>gradientSingletonShade</key>
	<string>statelessStateFrequency</string>
	<key>queueContextDirection</key>
	<string>canvasMethodStyle</string>
	<key>shaderDespiteVariable</key>
	<string>gemActionSkewx</string>
	<key>sharedPrecisionPressure</key>
	<string>menuFrameworkContrast</string>
	<key>tickerSincePrototype</key>
	<string>petStyleFrequency</string>
	<key>transformerUntilValue</key>
	<string>projectionOrMediator</string>
</dict>
</plist>
