<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerBesideJob</key>
	<string>injectionViaProxy</string>
	<key>custompaintStyleSpeed</key>
	<string>sequentialPositionedTransparency</string>
	<key>desktopCapacitiesInset</key>
	<string>unactivatedMenuBehavior</string>
	<key>layoutOutsideTemple</key>
	<string>crudePositionBottom</string>
	<key>semanticsInContext</key>
	<string>controllerChainOrientation</string>
	<key>standaloneWorkflowAppearance</key>
	<string>finalContainerDuration</string>
	<key>stepChainCount</key>
	<string>routeUntilMemento</string>
	<key>ternaryVersusWork</key>
	<string>arithmeticUntilStyle</string>
</dict>
</plist>
