<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticDurationTension</key>
	<string>routeLikeTier</string>
	<key>brushDuringMediator</key>
	<string>painterPhaseFrequency</string>
	<key>metadataOrKind</key>
	<string>getxLikeShape</string>
	<key>prevSingletonCount</key>
	<string>constraintObserverTransparency</string>
	<key>sinkThanStructure</key>
	<string>iterativeAlignmentPressure</string>
</dict>
</plist>
