<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableRequestMode</key>
	<string>relationalFrameOrigin</string>
	<key>granularConstraintMargin</key>
	<string>hyperbolicAccessoryDuration</string>
	<key>intuitiveFeatureStatus</key>
	<string>progressbarForChain</string>
	<key>loopCommandCenter</key>
	<string>subscriptionPrototypeScale</string>
	<key>modelPrototypeAppearance</key>
	<string>signViaCommand</string>
	<key>presenterMementoDepth</key>
	<string>listenerOrVar</string>
	<key>rectAmongTier</key>
	<string>directIsolateName</string>
	<key>requestOrMediator</key>
	<string>cupertinoLoopLeft</string>
	<key>zoneJobOrientation</key>
	<string>documentExceptMethod</string>
</dict>
</plist>
