<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralPositionDelay</key>
	<string>controllerCompositeDistance</string>
	<key>equipmentAmongChain</key>
	<string>documentFormPadding</string>
	<key>flexibleReferenceCount</key>
	<string>queryAwayNumber</string>
	<key>pointLikeProxy</key>
	<string>sizedboxContextInset</string>
	<key>primaryConvolutionVisible</key>
	<string>resizableCatalystDensity</string>
	<key>semanticWidgetTop</key>
	<string>errorJobSize</string>
	<key>serviceAroundFunction</key>
	<string>hierarchicalThreadDistance</string>
	<key>streamUntilLayer</key>
	<string>layoutInterpreterScale</string>
</dict>
</plist>
