<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAsPrototype</key>
	<string>commandStateTransparency</string>
	<key>containerObserverState</key>
	<string>monsterOrChain</string>
	<key>dropdownbuttonExceptChain</key>
	<string>sizeBridgeResponse</string>
	<key>hierarchicalTechniqueBorder</key>
	<string>directlyChartHead</string>
	<key>radioByVariable</key>
	<string>parallelQueryOpacity</string>
	<key>singletonThroughAction</key>
	<string>animationLevelVelocity</string>
	<key>tensorDialogsTail</key>
	<string>cardBeyondMemento</string>
	<key>usageStyleValidation</key>
	<string>blocPrototypeBorder</string>
</dict>
</plist>
