<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoLayoutTag</key>
	<string>widgetViaBridge</string>
	<key>elasticTaskBottom</key>
	<string>skirtStructureFlags</string>
	<key>gesturedetectorProxyBrightness</key>
	<string>cubitCompositeCount</string>
	<key>movementAsStage</key>
	<string>dedicatedGrayscaleDepth</string>
	<key>multiDecorationTag</key>
	<string>durationProcessOpacity</string>
	<key>presenterStageRotation</key>
	<string>channelsByOperation</string>
	<key>visibleListenerTail</key>
	<string>fragmentAdapterHead</string>
</dict>
</plist>
