<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderObserverMargin</key>
	<string>effectDecoratorMomentum</string>
	<key>cubeSingletonBrightness</key>
	<string>boxPerType</string>
	<key>customPrecisionVelocity</key>
	<string>coordinatorMementoBrightness</string>
	<key>finalProjectionDelay</key>
	<string>scaleAroundState</string>
	<key>gateFormIndex</key>
	<string>serviceTaskTint</string>
	<key>mobileUntilActivity</key>
	<string>segmentIncludeLevel</string>
</dict>
</plist>
