<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeFactoryType</key>
	<string>uniformAnimationPosition</string>
	<key>apertureProcessShade</key>
	<string>associatedBitrateKind</string>
	<key>compositionInterpreterMargin</key>
	<string>sinkValueVelocity</string>
	<key>curveOrMode</key>
	<string>spotVisitorScale</string>
	<key>gridVariableScale</key>
	<string>utilBeyondBridge</string>
	<key>originalLayoutFrequency</key>
	<string>graphPrototypeForce</string>
	<key>permissiveAnimationPadding</key>
	<string>labelDuringCommand</string>
	<key>popupBeyondFunction</key>
	<string>taskOutsideContext</string>
	<key>roleMediatorMode</key>
	<string>configurationVarType</string>
	<key>topicValueSaturation</key>
	<string>dynamicRequestTheme</string>
</dict>
</plist>
