<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineCycleBorder</key>
	<string>accessoryAndLayer</string>
	<key>cubitKindSize</key>
	<string>movementActionFeedback</string>
	<key>curveOutsideMethod</key>
	<string>mapBesideActivity</string>
	<key>diffableLoopAlignment</key>
	<string>coordinatorCompositeTop</string>
	<key>easyToolFlags</key>
	<string>pivotalSymbolPosition</string>
	<key>hashStateResponse</key>
	<string>queueStyleVisibility</string>
	<key>labelPerStructure</key>
	<string>singletonParamStyle</string>
	<key>petBridgeMargin</key>
	<string>sharedRadiusBottom</string>
	<key>skirtInCycle</key>
	<string>accessibleThemeDuration</string>
</dict>
</plist>
