<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterNearShape</key>
	<string>transitionAdapterTheme</string>
	<key>chapterOfTask</key>
	<string>singleObserverVelocity</string>
	<key>durationThanMediator</key>
	<string>singletonAroundScope</string>
	<key>flexibleCaptionInteraction</key>
	<string>displayableDelegateInterval</string>
	<key>gateCompositeRight</key>
	<string>typicalFactorySize</string>
	<key>lastPageviewHue</key>
	<string>dialogsPrototypeForce</string>
	<key>localizationFrameworkPressure</key>
	<string>futureProxyAlignment</string>
	<key>relationalSpecifierDirection</key>
	<string>iterativeGraphicPressure</string>
	<key>toolDuringAdapter</key>
	<string>rectContainType</string>
	<key>uniformAxisStyle</key>
	<string>difficultUsecaseName</string>
</dict>
</plist>
