<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitExceptComposite</key>
	<string>resultParamLocation</string>
	<key>inheritedDrawerSpeed</key>
	<string>binaryWorkMomentum</string>
	<key>positionWithoutProxy</key>
	<string>concurrentAnimationTension</string>
	<key>radiusSystemName</key>
	<string>getxStrategyDistance</string>
	<key>storageOutsideEnvironment</key>
	<string>multiplicationVarContrast</string>
	<key>usageThroughFunction</key>
	<string>comprehensiveViewDistance</string>
</dict>
</plist>
