<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardRemainderMomentum</key>
	<string>eagerAnimationVisibility</string>
	<key>crudeRemainderHue</key>
	<string>rowFrameworkLeft</string>
	<key>gesturedetectorProcessState</key>
	<string>mediaAgainstParam</string>
	<key>numericalGetxRotation</key>
	<string>typicalRadioOpacity</string>
	<key>relationalCursorName</key>
	<string>precisionChainTop</string>
</dict>
</plist>
