<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorVariableMode</key>
	<string>effectActivityBound</string>
	<key>listenerAmongMode</key>
	<string>agileRequestFrequency</string>
	<key>nibOrAdapter</key>
	<string>standaloneAnchorBehavior</string>
	<key>optionMethodForce</key>
	<string>comprehensiveNavigationFeedback</string>
	<key>priorityUntilStage</key>
	<string>resolverProxyBottom</string>
	<key>topicBeyondScope</key>
	<string>transitionKindLocation</string>
</dict>
</plist>
