<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTaskTransparency</key>
	<string>blocTempleMomentum</string>
	<key>accessoryKindTail</key>
	<string>bufferShapeResponse</string>
	<key>eagerResponseDuration</key>
	<string>actionContextSize</string>
	<key>effectOfEnvironment</key>
	<string>textOutsideEnvironment</string>
	<key>hierarchicalVectorHue</key>
	<string>chartMementoKind</string>
	<key>labelWithoutStructure</key>
	<string>specifyChannelStyle</string>
	<key>synchronousNodeRight</key>
	<string>labelDecoratorOpacity</string>
</dict>
</plist>
