<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocVariableInteraction</key>
	<string>offsetIncludeFramework</string>
	<key>catalystFlyweightLeft</key>
	<string>rectVersusEnvironment</string>
	<key>decorationAndWork</key>
	<string>metadataWithoutComposite</string>
	<key>exceptionActionDirection</key>
	<string>petExceptLayer</string>
	<key>routerSinceJob</key>
	<string>tweenExceptOperation</string>
	<key>statefulBlocLocation</key>
	<string>techniqueLevelMomentum</string>
	<key>streamVersusInterpreter</key>
	<string>tickerInsideProcess</string>
</dict>
</plist>
