<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerAgainstStyle</key>
	<string>decorationLikeTemple</string>
	<key>immediateDimensionRotation</key>
	<string>imageStageMargin</string>
	<key>repositoryAtVisitor</key>
	<string>finalButtonHead</string>
	<key>singleTextfieldCoord</key>
	<string>alphaBeyondShape</string>
	<key>textJobTint</key>
	<string>resultNumberKind</string>
</dict>
</plist>
