<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateThanInterpreter</key>
	<string>originalScaleColor</string>
	<key>effectAboutDecorator</key>
	<string>animatedcontainerPerParameter</string>
	<key>exponentFrameworkInteraction</key>
	<string>equalizationFacadeOrigin</string>
	<key>interfaceActionPadding</key>
	<string>prismaticNavigationTension</string>
	<key>reactiveErrorTint</key>
	<string>multiplicationMementoShape</string>
	<key>timerCycleKind</key>
	<string>entropyPlatformDelay</string>
</dict>
</plist>
