<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicRichtextTheme</key>
	<string>commandSingletonMargin</string>
	<key>layoutAsInterpreter</key>
	<string>threadKindSize</string>
	<key>responsiveDrawerTop</key>
	<string>channelsBufferFeedback</string>
	<key>responsiveThreadLeft</key>
	<string>resilientMethodTint</string>
	<key>timerActivityCenter</key>
	<string>cartesianSizedboxSize</string>
	<key>usecaseVersusPlatform</key>
	<string>disabledTabviewKind</string>
	<key>viewAsTask</key>
	<string>routeFlyweightValidation</string>
</dict>
</plist>
