<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directAsyncAcceleration</key>
	<string>exceptionSinceMediator</string>
	<key>draggableCosineTension</key>
	<string>localResultRight</string>
	<key>resizableStorageIndex</key>
	<string>integerTempleSpeed</string>
	<key>utilAsLevel</key>
	<string>transitionOutsideBuffer</string>
</dict>
</plist>
