<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertAndSystem</key>
	<string>imageInState</string>
	<key>controllerObserverEdge</key>
	<string>petNearChain</string>
	<key>effectScopeFeedback</key>
	<string>referenceLayerPadding</string>
	<key>timerDuringState</key>
	<string>graphAndShape</string>
</dict>
</plist>
