<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedOffsetBehavior</key>
	<string>sceneProcessInterval</string>
	<key>functionalBatchDirection</key>
	<string>tickerLayerStatus</string>
	<key>ignoredModelHue</key>
	<string>batchStrategySaturation</string>
	<key>prevPreviewShape</key>
	<string>subsequentParticleScale</string>
	<key>singletonInsideLevel</key>
	<string>mobileViaWork</string>
	<key>temporaryTopicLocation</key>
	<string>grayscaleKindColor</string>
</dict>
</plist>
