<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalSizeTag</key>
	<string>commandDuringObserver</string>
	<key>convolutionVariableBehavior</key>
	<string>intensityParameterDirection</string>
	<key>flexViaTemple</key>
	<string>deferredDropdownbuttonTail</string>
	<key>lossBufferRight</key>
	<string>fusedEffectOrigin</string>
	<key>modelAmongSystem</key>
	<string>disabledChannelAlignment</string>
	<key>tangentByNumber</key>
	<string>getxBeyondProcess</string>
	<key>tensorDelegateForce</key>
	<string>constraintContainProcess</string>
	<key>vectorForTemple</key>
	<string>newestCurveCoord</string>
	<key>viewBeyondLayer</key>
	<string>taskInsideMethod</string>
</dict>
</plist>
