<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasSinceDecorator</key>
	<string>axisShapePadding</string>
	<key>captionOrTier</key>
	<string>intuitiveRadiusMode</string>
	<key>decorationNearTask</key>
	<string>crucialReductionVisibility</string>
	<key>interpolationSystemDensity</key>
	<string>basicProfileShade</string>
	<key>specifierContextForce</key>
	<string>labelParamRotation</string>
	<key>textfieldScopeDistance</key>
	<string>repositoryContainCycle</string>
	<key>utilStateTension</key>
	<string>permissiveAllocatorTail</string>
	<key>variantAroundContext</key>
	<string>managerSinceDecorator</string>
</dict>
</plist>
