<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationLayerFeedback</key>
	<string>similarHandlerDirection</string>
	<key>awaitAgainstComposite</key>
	<string>heapContainEnvironment</string>
	<key>concreteGridviewRight</key>
	<string>imageAtJob</string>
	<key>featureForStage</key>
	<string>intensityInsideLayer</string>
	<key>listenerInsideKind</key>
	<string>stateStrategyRight</string>
	<key>mediocreTransformerBound</key>
	<string>gridAtContext</string>
	<key>sliderActivityFlags</key>
	<string>durationOfMode</string>
	<key>techniqueInterpreterForce</key>
	<string>channelsViaMode</string>
	<key>textThroughSystem</key>
	<string>desktopFlexAlignment</string>
	<key>unactivatedLayerState</key>
	<string>effectEnvironmentOffset</string>
</dict>
</plist>
