<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteVectorEdge</key>
	<string>textureScopeContrast</string>
	<key>decorationAwayObserver</key>
	<string>seamlessKernelIndex</string>
	<key>graphInsidePhase</key>
	<string>robustInterpolationMargin</string>
	<key>largeEventSkewy</key>
	<string>specifyPlaybackTransparency</string>
	<key>projectionBufferPressure</key>
	<string>dependencyOperationTension</string>
	<key>routerContextCenter</key>
	<string>displayableLayerLeft</string>
	<key>sceneChainHue</key>
	<string>instructionShapeBehavior</string>
	<key>spotDespiteFramework</key>
	<string>labelObserverBrightness</string>
	<key>widgetAdapterScale</key>
	<string>rectThroughAdapter</string>
	<key>widgetObserverPadding</key>
	<string>histogramBridgeBottom</string>
</dict>
</plist>
