<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCurveShape</key>
	<string>firstTextureDirection</string>
	<key>behaviorShapeDuration</key>
	<string>integerStateLeft</string>
	<key>chapterVisitorSpacing</key>
	<string>errorProxyDelay</string>
	<key>customActionTheme</key>
	<string>navigatorMementoColor</string>
	<key>futureStageAppearance</key>
	<string>intensityDespiteLevel</string>
	<key>grainExceptSingleton</key>
	<string>constraintViaProxy</string>
	<key>responseMethodContrast</key>
	<string>curveStyleHead</string>
	<key>subtleMasterEdge</key>
	<string>hardRouteHue</string>
	<key>topicThroughPattern</key>
	<string>buttonDecoratorRight</string>
	<key>transformerActivitySkewx</key>
	<string>multiGraphicCount</string>
</dict>
</plist>
