<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorModeForce</key>
	<string>taskActionContrast</string>
	<key>cubitInsideChain</key>
	<string>pageviewEnvironmentStatus</string>
	<key>exponentFrameworkTheme</key>
	<string>relationalConstraintFormat</string>
	<key>gesturePerInterpreter</key>
	<string>accessoryVarMomentum</string>
	<key>gridviewDuringStyle</key>
	<string>awaitMethodEdge</string>
	<key>numericalAxisCenter</key>
	<string>giftAndOperation</string>
	<key>switchAsMode</key>
	<string>concreteThreadTint</string>
</dict>
</plist>
