<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetSystemBottom</key>
	<string>effectWorkPadding</string>
	<key>baseExceptAdapter</key>
	<string>statefulTierName</string>
	<key>curveFlyweightIndex</key>
	<string>imperativeProviderSkewy</string>
	<key>entropyTypeHead</key>
	<string>scaleStageOrigin</string>
	<key>resultModeDensity</key>
	<string>labelSystemColor</string>
	<key>smallRowFlags</key>
	<string>finalRoleTop</string>
	<key>subpixelBridgeBehavior</key>
	<string>tweenCycleOpacity</string>
</dict>
</plist>
