<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandInsideParameter</key>
	<string>crucialCustompaintBehavior</string>
	<key>granularIntensityCount</key>
	<string>relationalCellCount</string>
	<key>petCommandOffset</key>
	<string>positionLevelDirection</string>
	<key>sizeCommandColor</key>
	<string>progressbarProcessOrientation</string>
	<key>topicStateAlignment</key>
	<string>overlayBesideSingleton</string>
</dict>
</plist>
