<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveQueryAcceleration</key>
	<string>smartChapterAcceleration</string>
	<key>alignmentAroundStructure</key>
	<string>tabbarTypeMargin</string>
	<key>custompaintLayerIndex</key>
	<string>respectiveDurationAcceleration</string>
	<key>metadataFunctionSkewx</key>
	<string>rowBeyondScope</string>
	<key>progressbarVersusMemento</key>
	<string>customSizeDelay</string>
	<key>sensorParamEdge</key>
	<string>imperativeDependencyFeedback</string>
</dict>
</plist>
