<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisSystemState</key>
	<string>binaryForInterpreter</string>
	<key>backwardErrorStatus</key>
	<string>topicModePadding</string>
	<key>commandPerParam</key>
	<string>semanticsJobSize</string>
	<key>futureThanFunction</key>
	<string>tableOrObserver</string>
	<key>localCosineAcceleration</key>
	<string>sensorOfFacade</string>
	<key>managerForMemento</key>
	<string>serviceViaDecorator</string>
	<key>missedPainterPressure</key>
	<string>associatedConstraintSaturation</string>
	<key>prevTransitionTag</key>
	<string>visibleConstraintType</string>
	<key>stateAroundComposite</key>
	<string>statelessEnvironmentCoord</string>
</dict>
</plist>
