<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheAgainstPhase</key>
	<string>inheritedSizeTop</string>
	<key>equipmentObserverCount</key>
	<string>containerPlatformIndex</string>
	<key>inactiveAwaitFlags</key>
	<string>paddingCommandFormat</string>
	<key>rapidGetxFormat</key>
	<string>explicitHandlerSize</string>
	<key>utilUntilPhase</key>
	<string>constScaffoldColor</string>
</dict>
</plist>
