<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationSinceAction</key>
	<string>standaloneResponseDistance</string>
	<key>disabledGrainTheme</key>
	<string>imageAboutPattern</string>
	<key>extensionTempleBound</key>
	<string>titleInsideMode</string>
	<key>layoutAndVar</key>
	<string>mutableBaseInterval</string>
	<key>taskLayerContrast</key>
	<string>inheritedSliderAlignment</string>
</dict>
</plist>
