<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonProcessCenter</key>
	<string>storyboardFromPhase</string>
	<key>challengeAroundBuffer</key>
	<string>popupOfWork</string>
	<key>disparateViewPosition</key>
	<string>operationFrameworkPadding</string>
	<key>imageContainDecorator</key>
	<string>activeBaseScale</string>
	<key>injectionCompositeTag</key>
	<string>contractionOfPrototype</string>
	<key>movementForTask</key>
	<string>sliderByPhase</string>
	<key>reactiveStateOpacity</key>
	<string>utilEnvironmentLeft</string>
	<key>seamlessMenuDistance</key>
	<string>textureDuringDecorator</string>
	<key>workflowDespiteObserver</key>
	<string>pinchableAnimatedcontainerPressure</string>
</dict>
</plist>
