<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexibleCacheBorder</key>
	<string>flexibleMultiplicationInset</string>
	<key>optimizerShapeTint</key>
	<string>delicateMethodBrightness</string>
	<key>prismaticStreamPosition</key>
	<string>cubitKindSkewx</string>
	<key>rectContainType</key>
	<string>operationPerJob</string>
	<key>stampEnvironmentDepth</key>
	<string>actionShapeBehavior</string>
	<key>statelessRowRight</key>
	<string>otherMetadataSpeed</string>
	<key>symmetricRepositoryRotation</key>
	<string>respectiveFactoryState</string>
</dict>
</plist>
