<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationStyleShade</key>
	<string>animatedcontainerStateFeedback</string>
	<key>asynchronousTaskTheme</key>
	<string>textureLevelForce</string>
	<key>constMomentumKind</key>
	<string>resourceAndVar</string>
	<key>futurePatternFrequency</key>
	<string>gemPerNumber</string>
	<key>mobileArithmeticVisibility</key>
	<string>viewContainBuffer</string>
	<key>previewAlongEnvironment</key>
	<string>smartPointShade</string>
	<key>stepStyleFeedback</key>
	<string>overlayShapeOpacity</string>
</dict>
</plist>
