<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsFlyweightVelocity</key>
	<string>prismaticIsolateStyle</string>
	<key>eventWithoutTier</key>
	<string>globalQueryInteraction</string>
	<key>factoryStructurePressure</key>
	<string>captionFrameworkOrigin</string>
	<key>intensityAmongCommand</key>
	<string>sliderPlatformIndex</string>
	<key>multiplicationStrategySaturation</key>
	<string>explicitCoordinatorFlags</string>
	<key>precisionAboutPrototype</key>
	<string>modalParameterName</string>
	<key>semanticDecorationOffset</key>
	<string>mobxBesideDecorator</string>
	<key>synchronousCycleStatus</key>
	<string>imageAsJob</string>
	<key>transitionModeFormat</key>
	<string>injectionOutsideFacade</string>
	<key>utilAwayLayer</key>
	<string>cellStyleFormat</string>
</dict>
</plist>
