<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesExceptFacade</key>
	<string>marginFacadeIndex</string>
	<key>extensionSystemSkewx</key>
	<string>routerBridgeTop</string>
	<key>gestureStructureContrast</key>
	<string>tappableExceptionVisible</string>
	<key>layoutPatternVisible</key>
	<string>switchViaContext</string>
	<key>semanticsNearLevel</key>
	<string>consultativeOverlayInteraction</string>
</dict>
</plist>
