<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getxSystemKind</key>
	<string>canvasAboutFunction</string>
	<key>gridviewMementoValidation</key>
	<string>protocolLikeTier</string>
	<key>sliderPlatformTag</key>
	<string>transitionPhaseEdge</string>
</dict>
</plist>
