<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorVisitorFeedback</key>
	<string>desktopFrameDuration</string>
	<key>assetPhaseType</key>
	<string>radiusDecoratorMomentum</string>
	<key>directRouterVelocity</key>
	<string>resultAmongType</string>
	<key>featureAmongStrategy</key>
	<string>radiusFrameworkPosition</string>
	<key>materialAlongChain</key>
	<string>blocIncludeMode</string>
	<key>matrixAlongProxy</key>
	<string>visibleInterfaceColor</string>
	<key>overlayVariableCenter</key>
	<string>robustMusicScale</string>
	<key>routerAndComposite</key>
	<string>sineBufferSkewx</string>
	<key>sortedScrollTint</key>
	<string>interactorTempleCenter</string>
</dict>
</plist>
