<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteChapterType</key>
	<string>nextCubitTransparency</string>
	<key>draggableEffectTop</key>
	<string>particleWithProxy</string>
	<key>explicitProgressbarDirection</key>
	<string>titleThanChain</string>
	<key>interactorCompositeMomentum</key>
	<string>resilientTitleSpeed</string>
	<key>staticCubeMode</key>
	<string>riverpodFormShape</string>
</dict>
</plist>
