<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryIncludeComposite</key>
	<string>cellTierVisible</string>
	<key>cupertinoParticleHead</key>
	<string>usecaseEnvironmentPressure</string>
	<key>explicitZoneTint</key>
	<string>captionParamVisible</string>
	<key>robustErrorIndex</key>
	<string>symmetricEquipmentContrast</string>
	<key>zoneFlyweightAcceleration</key>
	<string>concurrentCurveVisibility</string>
</dict>
</plist>
