<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxAmongLevel</key>
	<string>widgetTierAppearance</string>
	<key>geometricSpineDistance</key>
	<string>interactiveStoryboardOpacity</string>
	<key>interfaceAsCommand</key>
	<string>bufferBridgeAcceleration</string>
	<key>parallelBaselineSaturation</key>
	<string>cubeChainDistance</string>
	<key>parallelSliderFrequency</key>
	<string>robustPointFormat</string>
	<key>publicNotifierSaturation</key>
	<string>alertThanSystem</string>
	<key>requiredCommandHead</key>
	<string>iconDecoratorResponse</string>
</dict>
</plist>
