<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphicWithoutMemento</key>
	<string>reusableCurveBehavior</string>
	<key>normalGrayscaleTension</key>
	<string>arithmeticPatternBehavior</string>
	<key>previewActivityOpacity</key>
	<string>firstSegueFormat</string>
	<key>progressbarCycleInteraction</key>
	<string>concurrentWidgetInteraction</string>
	<key>sliderCompositeTail</key>
	<string>equipmentPatternAcceleration</string>
</dict>
</plist>
