<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnParameterLocation</key>
	<string>groupIncludeLevel</string>
	<key>constraintExceptNumber</key>
	<string>sharedBatchStyle</string>
	<key>crucialReductionLeft</key>
	<string>gridAgainstObserver</string>
	<key>deferredThreadContrast</key>
	<string>controllerInTemple</string>
	<key>protectedStoryboardDistance</key>
	<string>similarStatefulLocation</string>
	<key>segmentBufferBound</key>
	<string>catalystContainMode</string>
	<key>segueAlongMediator</key>
	<string>skinAwayProcess</string>
</dict>
</plist>
