<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredViewInset</key>
	<string>ephemeralMenuDuration</string>
	<key>inkwellOutsideState</key>
	<string>grainWithoutSingleton</string>
	<key>intuitiveProgressbarTail</key>
	<string>tappableSpecifierType</string>
	<key>nextObserverVisible</key>
	<string>radioBesidePrototype</string>
	<key>positionShapeAppearance</key>
	<string>ignoredSpriteDuration</string>
	<key>progressbarParamType</key>
	<string>consultativeNodeVisible</string>
	<key>tappableAspectratioIndex</key>
	<string>transitionInBridge</string>
	<key>transformerStrategyName</key>
	<string>reactiveChapterDistance</string>
</dict>
</plist>
