<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionTypeColor</key>
	<string>batchAroundBuffer</string>
	<key>durationExceptMemento</key>
	<string>storageByPattern</string>
	<key>heroNearMediator</key>
	<string>particleDuringJob</string>
	<key>mediocreResolverBrightness</key>
	<string>storyboardPhaseTheme</string>
	<key>mutableDependencyShape</key>
	<string>positionedPerForm</string>
	<key>significantCatalystBound</key>
	<string>discardedCallbackVisibility</string>
	<key>tableAmongTemple</key>
	<string>capacitiesModeBound</string>
</dict>
</plist>
