<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertEnvironmentPressure</key>
	<string>compositionalSymbolTheme</string>
	<key>characterLikeMemento</key>
	<string>controllerBeyondVariable</string>
	<key>coordinatorDecoratorLeft</key>
	<string>assetBeyondSingleton</string>
	<key>euclideanCommandOffset</key>
	<string>rectContextKind</string>
	<key>gateEnvironmentPadding</key>
	<string>mobileTouchMode</string>
	<key>giftAwayPrototype</key>
	<string>segmentDespiteScope</string>
	<key>navigationWorkVisibility</key>
	<string>explicitLayerDuration</string>
	<key>optionShapeFeedback</key>
	<string>sustainableGroupDuration</string>
	<key>taskAlongAdapter</key>
	<string>alphaScopeRotation</string>
</dict>
</plist>
