<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphBridgeTint</key>
	<string>textStageName</string>
	<key>listviewWithTask</key>
	<string>completionDespitePattern</string>
	<key>taskBufferRate</key>
	<string>concurrentCellBehavior</string>
	<key>textureMethodTail</key>
	<string>parallelNibCount</string>
	<key>touchAndSystem</key>
	<string>ephemeralDescriptionScale</string>
	<key>unactivatedSinkTransparency</key>
	<string>fragmentBesideBridge</string>
</dict>
</plist>
