<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistThanSystem</key>
	<string>lostButtonDirection</string>
	<key>constGrainEdge</key>
	<string>dependencyBufferCount</string>
	<key>optimizerVersusInterpreter</key>
	<string>durationExceptVisitor</string>
	<key>relationalResourceHue</key>
	<string>intensityForState</string>
</dict>
</plist>
