<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeMapDistance</key>
	<string>comprehensiveFragmentShade</string>
	<key>frameShapeScale</key>
	<string>tickerLayerCoord</string>
	<key>primaryFlexSaturation</key>
	<string>labelAlongMemento</string>
	<key>protectedStreamTail</key>
	<string>rowMediatorVelocity</string>
</dict>
</plist>
