<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioStageTension</key>
	<string>allocatorNumberSpeed</string>
	<key>diversifiedControllerFormat</key>
	<string>completerSincePhase</string>
	<key>effectViaProxy</key>
	<string>flexAlongDecorator</string>
	<key>precisionOutsideWork</key>
	<string>webInstructionName</string>
	<key>sessionAwayVariable</key>
	<string>configurationAndAdapter</string>
	<key>streamLevelKind</key>
	<string>configurationSingletonMomentum</string>
	<key>subscriptionAmongSingleton</key>
	<string>responsiveFactoryDensity</string>
	<key>taskCompositeFormat</key>
	<string>flexInsideStyle</string>
</dict>
</plist>
