<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeRichtextDensity</key>
	<string>gesturedetectorStateTheme</string>
	<key>chapterMediatorOrigin</key>
	<string>scaffoldDecoratorRight</string>
	<key>completerThanFunction</key>
	<string>declarativeCommandCount</string>
	<key>controllerUntilMemento</key>
	<string>expandedBufferRotation</string>
	<key>customizedReferenceShade</key>
	<string>commandThanForm</string>
	<key>layoutVarSaturation</key>
	<string>basicTopicRotation</string>
	<key>mobileFacadeShape</key>
	<string>cubitCommandTint</string>
	<key>newestSpriteSize</key>
	<string>disabledSizeTag</string>
	<key>requiredWidgetDepth</key>
	<string>awaitPatternBorder</string>
	<key>storeActivityTint</key>
	<string>primaryBitrateHue</string>
</dict>
</plist>
