<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concretePopupSkewx</key>
	<string>coordinatorModeVelocity</string>
	<key>durationWithFacade</key>
	<string>gesturedetectorContainSingleton</string>
	<key>getxIncludeActivity</key>
	<string>greatAlignmentTint</string>
	<key>lazyProviderVisible</key>
	<string>hashLayerTag</string>
	<key>normalLoopVelocity</key>
	<string>granularTaskBound</string>
	<key>originalInstructionVelocity</key>
	<string>statelessOperationBound</string>
	<key>presenterUntilObserver</key>
	<string>utilVersusVariable</string>
	<key>priorRouterStatus</key>
	<string>boxAndProxy</string>
	<key>queryParamForce</key>
	<string>navigatorAmongCommand</string>
	<key>tweenModeResponse</key>
	<string>sequentialDelegateFeedback</string>
</dict>
</plist>
