<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationObserverTheme</key>
	<string>resizableSliderRight</string>
	<key>commonStreamBound</key>
	<string>collectionStateType</string>
	<key>independentModelFeedback</key>
	<string>localIntensityStyle</string>
	<key>indicatorTaskAlignment</key>
	<string>staticSemanticsTag</string>
	<key>logarithmOutsideChain</key>
	<string>anchorOutsideAdapter</string>
	<key>methodBesideScope</key>
	<string>workflowCompositeContrast</string>
	<key>skinAboutAction</key>
	<string>stampAdapterResponse</string>
	<key>statefulButtonLeft</key>
	<string>gesturedetectorThanVisitor</string>
	<key>taskMediatorTail</key>
	<string>customGridviewOrigin</string>
</dict>
</plist>
