<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedMaterialTail</key>
	<string>smartTextName</string>
	<key>boxContextStatus</key>
	<string>factoryOfForm</string>
	<key>captionParamRight</key>
	<string>storyboardBesideValue</string>
	<key>controllerAlongType</key>
	<string>significantFrameOpacity</string>
	<key>scrollableResponseSkewx</key>
	<string>globalResourceFormat</string>
	<key>swiftAboutTask</key>
	<string>custompaintStrategyDistance</string>
</dict>
</plist>
