<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyScreenAppearance</key>
	<string>scrollPrototypeFlags</string>
	<key>exponentBridgeName</key>
	<string>euclideanSceneVisibility</string>
	<key>presenterDecoratorSkewx</key>
	<string>listviewInsideMediator</string>
	<key>queueMethodHead</key>
	<string>exceptionFlyweightSkewx</string>
	<key>seamlessViewBorder</key>
	<string>cycleValueDelay</string>
</dict>
</plist>
