<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentFacadeTag</key>
	<string>commandDespiteValue</string>
	<key>hardButtonSpeed</key>
	<string>priorEffectLocation</string>
	<key>normalMovementDelay</key>
	<string>interpolationIncludeMemento</string>
	<key>rectByCycle</key>
	<string>observerVariableColor</string>
	<key>semanticCommandForce</key>
	<string>lostMediaqueryInterval</string>
	<key>storeThanAction</key>
	<string>containerContextIndex</string>
	<key>titleByProcess</key>
	<string>capsuleTierColor</string>
</dict>
</plist>
