<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationTempleInterval</key>
	<string>permissiveCycleShape</string>
	<key>gridviewBesideActivity</key>
	<string>activeBoxshadowIndex</string>
	<key>nextOffsetMode</key>
	<string>memberProxyContrast</string>
	<key>prismaticHistogramCenter</key>
	<string>richtextObserverResponse</string>
	<key>smallTickerContrast</key>
	<string>nodeWithoutPlatform</string>
</dict>
</plist>
