<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleHashBorder</key>
	<string>aspectratioTypeType</string>
	<key>borderFacadeCoord</key>
	<string>presenterAwayInterpreter</string>
	<key>descriptionStructureShade</key>
	<string>gesturedetectorUntilVar</string>
	<key>hashLikeTemple</key>
	<string>columnProcessValidation</string>
	<key>layoutPrototypeCenter</key>
	<string>widgetParamTheme</string>
	<key>lostCoordinatorRate</key>
	<string>giftCyclePosition</string>
	<key>resilientChannelCenter</key>
	<string>vectorTempleBottom</string>
	<key>skinOfStyle</key>
	<string>eventBesideObserver</string>
	<key>sliderSystemHead</key>
	<string>rapidOperationState</string>
	<key>stateStyleDepth</key>
	<string>skinSystemMode</string>
</dict>
</plist>
