<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateByAction</key>
	<string>methodMethodLeft</string>
	<key>elasticAnimationShape</key>
	<string>vectorViaCommand</string>
	<key>interactorDespiteProxy</key>
	<string>immediateShaderAcceleration</string>
	<key>mediocreSymbolTheme</key>
	<string>priorSpriteStyle</string>
	<key>modelAdapterColor</key>
	<string>resolverValueHead</string>
	<key>previewFacadeBehavior</key>
	<string>pinchableOptionMode</string>
	<key>repositoryShapeInterval</key>
	<string>asynchronousReferenceTheme</string>
	<key>sampleProcessSaturation</key>
	<string>stateAgainstStrategy</string>
	<key>statefulPositionedMomentum</key>
	<string>prevProviderHue</string>
</dict>
</plist>
