<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionCommandIndex</key>
	<string>exceptionInMemento</string>
	<key>assetDecoratorEdge</key>
	<string>cursorOfWork</string>
	<key>builderUntilDecorator</key>
	<string>denseSkirtSize</string>
	<key>cacheStyleInteraction</key>
	<string>rowActivityIndex</string>
	<key>grainThroughAction</key>
	<string>cupertinoReferenceSaturation</string>
	<key>interfaceAdapterVisibility</key>
	<string>sinkDecoratorStatus</string>
	<key>resizableTransitionTransparency</key>
	<string>grayscaleParameterSkewy</string>
	<key>rowBridgeInset</key>
	<string>tickerModeEdge</string>
	<key>sequentialSymbolDensity</key>
	<string>interfaceDuringEnvironment</string>
</dict>
</plist>
