<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitVisitorAcceleration</key>
	<string>getxUntilTemple</string>
	<key>collectionTierShade</key>
	<string>customizedGrayscaleRate</string>
	<key>equipmentAwayMode</key>
	<string>playbackPerJob</string>
	<key>mobileDespiteLevel</key>
	<string>futurePerParam</string>
	<key>singleLayerPosition</key>
	<string>memberThroughVisitor</string>
</dict>
</plist>
