<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocStrategyDistance</key>
	<string>compositionOperationForce</string>
	<key>capsuleTempleRight</key>
	<string>elasticAnimatedcontainerMargin</string>
	<key>entityAgainstValue</key>
	<string>touchInTier</string>
	<key>intermediateSizeEdge</key>
	<string>alignmentForChain</string>
	<key>navigatorDespiteBuffer</key>
	<string>entropySinceMethod</string>
	<key>stateShapeSaturation</key>
	<string>monsterFormDelay</string>
	<key>streamTypeEdge</key>
	<string>inheritedMusicKind</string>
</dict>
</plist>
