<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityStateLeft</key>
	<string>alignmentInterpreterMode</string>
	<key>aspectTierHue</key>
	<string>autoTextRotation</string>
	<key>chartTierEdge</key>
	<string>modulusDecoratorFormat</string>
	<key>cursorWorkState</key>
	<string>contractionByForm</string>
	<key>globalEffectScale</key>
	<string>otherPresenterHue</string>
	<key>prismaticTextureLeft</key>
	<string>scaffoldJobDuration</string>
	<key>storeExceptProcess</key>
	<string>groupSystemEdge</string>
	<key>textureDespiteLevel</key>
	<string>characterTempleBorder</string>
</dict>
</plist>
