<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchStageBound</key>
	<string>tweenTaskBound</string>
	<key>permissiveCallbackSkewx</key>
	<string>agilePreviewDuration</string>
	<key>sizeVisitorDuration</key>
	<string>radioKindFlags</string>
	<key>storeViaPhase</key>
	<string>isolateMethodName</string>
	<key>tensorPointVelocity</key>
	<string>custompaintForVariable</string>
	<key>textfieldAroundVariable</key>
	<string>hierarchicalSubscriptionFlags</string>
</dict>
</plist>
