<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logCommandVisibility</key>
	<string>cupertinoByFacade</string>
	<key>mutableSegmentMargin</key>
	<string>providerStateMargin</string>
	<key>projectionMethodTransparency</key>
	<string>playbackWorkSkewy</string>
	<key>substantialTangentShape</key>
	<string>allocatorParamVisibility</string>
</dict>
</plist>
