<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentParamState</key>
	<string>bitrateObserverScale</string>
	<key>callbackTierDirection</key>
	<string>activityAsPhase</string>
	<key>chapterFromSystem</key>
	<string>curveAgainstNumber</string>
	<key>layerActivityDensity</key>
	<string>arithmeticAgainstBridge</string>
	<key>projectionEnvironmentTension</key>
	<string>animationTempleMode</string>
	<key>themeWorkOffset</key>
	<string>presenterAboutStyle</string>
	<key>usecaseSinceActivity</key>
	<string>metadataDuringNumber</string>
</dict>
</plist>
