<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandWithoutParam</key>
	<string>routeAroundShape</string>
	<key>concreteGroupOrientation</key>
	<string>aspectContainMethod</string>
	<key>dedicatedObserverRotation</key>
	<string>marginObserverSkewx</string>
	<key>dimensionProcessPressure</key>
	<string>blocFlyweightDuration</string>
	<key>grainPhaseRight</key>
	<string>isolateSingletonBottom</string>
	<key>interactorProcessBehavior</key>
	<string>groupSingletonName</string>
	<key>lostTechniqueOffset</key>
	<string>hierarchicalSinkLocation</string>
	<key>managerVersusContext</key>
	<string>priorGemTint</string>
	<key>spriteNearState</key>
	<string>histogramByObserver</string>
	<key>tensorViewTop</key>
	<string>streamAtSystem</string>
</dict>
</plist>
