<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowDecoratorStyle</key>
	<string>advancedExponentDirection</string>
	<key>delicateConfigurationRotation</key>
	<string>storeOfFramework</string>
	<key>effectThanProcess</key>
	<string>handlerViaLayer</string>
	<key>navigatorWithoutPhase</key>
	<string>fixedIsolateTransparency</string>
	<key>paddingContextScale</key>
	<string>composableTextDirection</string>
	<key>parallelWidgetAlignment</key>
	<string>fixedVariantStyle</string>
	<key>protectedUsecaseVisibility</key>
	<string>synchronousCollectionOrigin</string>
	<key>titleDespiteScope</key>
	<string>crudeBuilderType</string>
</dict>
</plist>
