<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityOutsideFramework</key>
	<string>popupSingletonSpacing</string>
	<key>alphaAdapterBottom</key>
	<string>inheritedIntensityInterval</string>
	<key>awaitByPhase</key>
	<string>intensityVersusDecorator</string>
	<key>chartJobSkewx</key>
	<string>sharedCubitBottom</string>
	<key>constSymbolKind</key>
	<string>aspectratioMementoTail</string>
	<key>heroDuringMethod</key>
	<string>reducerOutsideStrategy</string>
	<key>indicatorAndChain</key>
	<string>coordinatorLikeSystem</string>
	<key>opaqueGraphEdge</key>
	<string>resolverTempleMomentum</string>
	<key>widgetAlongNumber</key>
	<string>navigatorPatternHue</string>
</dict>
</plist>
