<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerDuringStructure</key>
	<string>cubeExceptScope</string>
	<key>mediaqueryOrShape</key>
	<string>mutableFutureOpacity</string>
	<key>navigatorContainBuffer</key>
	<string>localizationOutsideTask</string>
	<key>toolInsideCommand</key>
	<string>matrixInAdapter</string>
</dict>
</plist>
