<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyMemberResponse</key>
	<string>sortedCallbackBorder</string>
	<key>fragmentOfVisitor</key>
	<string>taskInsideMediator</string>
	<key>heapOfVariable</key>
	<string>singletonParamDelay</string>
	<key>injectionVarLeft</key>
	<string>significantLayoutStyle</string>
	<key>interactorPatternMargin</key>
	<string>convolutionStyleSpacing</string>
	<key>interactorPerMediator</key>
	<string>interfaceAgainstWork</string>
	<key>singleRoutePressure</key>
	<string>grainVisitorDistance</string>
	<key>streamLikeInterpreter</key>
	<string>keyChannelHue</string>
	<key>subsequentChapterMargin</key>
	<string>chartModeMomentum</string>
</dict>
</plist>
