<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>invisibleTextRight</key>
	<string>sceneBridgeContrast</string>
	<key>matrixActivityContrast</key>
	<string>spineFromForm</string>
	<key>navigatorForFramework</key>
	<string>tabbarLikeBuffer</string>
	<key>subsequentCardHue</key>
	<string>taskStateAppearance</string>
</dict>
</plist>
