<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterThanProxy</key>
	<string>nativeIntensityPressure</string>
	<key>handlerAwayFlyweight</key>
	<string>giftVersusForm</string>
	<key>matrixScopeAppearance</key>
	<string>resizableNodeSkewy</string>
	<key>opaqueGetxShade</key>
	<string>multiCommandScale</string>
	<key>parallelManagerIndex</key>
	<string>controllerViaAction</string>
</dict>
</plist>
