<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystIncludeSingleton</key>
	<string>entityLayerSkewx</string>
	<key>delicateFactoryFeedback</key>
	<string>drawerBeyondStrategy</string>
	<key>explicitTweenFrequency</key>
	<string>mobileInjectionValidation</string>
	<key>extensionFromAdapter</key>
	<string>resultAboutTier</string>
	<key>extensionPerLayer</key>
	<string>tweenBridgeAlignment</string>
	<key>histogramParameterBorder</key>
	<string>beginnerTaskBrightness</string>
	<key>listenerSinceAction</key>
	<string>tickerStageResponse</string>
	<key>rowFrameworkResponse</key>
	<string>aspectratioBridgeLocation</string>
</dict>
</plist>
