<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedPreviewStatus</key>
	<string>constIndicatorAlignment</string>
	<key>activeEffectState</key>
	<string>agileFutureSpeed</string>
	<key>controllerVariableAlignment</key>
	<string>effectTaskKind</string>
	<key>decorationKindSkewx</key>
	<string>sensorInAction</string>
	<key>histogramCompositeFlags</key>
	<string>gramAtForm</string>
	<key>isolateOperationHead</key>
	<string>blocWorkOpacity</string>
	<key>tappableRouteEdge</key>
	<string>movementContextIndex</string>
</dict>
</plist>
