<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorVersusPrototype</key>
	<string>queueProxyShape</string>
	<key>beginnerGesturedetectorFeedback</key>
	<string>mainBrushDirection</string>
	<key>callbackCompositeRotation</key>
	<string>richtextValueEdge</string>
	<key>completionNearCommand</key>
	<string>getxStructureForce</string>
	<key>decorationSystemBound</key>
	<string>documentBeyondWork</string>
	<key>dedicatedEquipmentScale</key>
	<string>optimizerMediatorBound</string>
	<key>repositoryBufferState</key>
	<string>semanticNodeIndex</string>
	<key>resolverAwayMediator</key>
	<string>queryFromMethod</string>
	<key>similarConsumerOrigin</key>
	<string>sizePhaseFrequency</string>
	<key>tickerDuringMethod</key>
	<string>gesturedetectorTypeRotation</string>
</dict>
</plist>
