<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterInterpreterCount</key>
	<string>checklistContainStrategy</string>
	<key>lazyPlateTransparency</key>
	<string>chartAndMode</string>
	<key>methodAmongDecorator</key>
	<string>spotBesideVar</string>
	<key>priorNodeRight</key>
	<string>hashSingletonTension</string>
	<key>resourceBeyondProxy</key>
	<string>normForSingleton</string>
	<key>scaleScopeHue</key>
	<string>delegateViaType</string>
</dict>
</plist>
