<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitAmongParam</key>
	<string>cubitDuringFunction</string>
	<key>comprehensiveTransitionOpacity</key>
	<string>seguePrototypeForce</string>
	<key>customizedTextSaturation</key>
	<string>lostGridSize</string>
	<key>decorationOperationCoord</key>
	<string>delegateAtProxy</string>
	<key>gateVarScale</key>
	<string>decorationFromValue</string>
	<key>graphicBridgeOffset</key>
	<string>sliderViaProxy</string>
	<key>similarInterfaceDelay</key>
	<string>queryOutsideVar</string>
</dict>
</plist>
