<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immediateCanvasResponse</key>
	<string>ignoredCoordinatorAcceleration</string>
	<key>labelAtChain</key>
	<string>animatedParticleSize</string>
	<key>oldChecklistAcceleration</key>
	<string>sliderBeyondCycle</string>
	<key>visibleGemEdge</key>
	<string>responseFromPlatform</string>
</dict>
</plist>
