<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerDecoratorIndex</key>
	<string>threadTypePressure</string>
	<key>coordinatorContainShape</key>
	<string>clipperNearPattern</string>
	<key>stepFlyweightCenter</key>
	<string>logarithmFrameworkStyle</string>
</dict>
</plist>
