<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAwayLevel</key>
	<string>particlePhaseType</string>
	<key>controllerAtFramework</key>
	<string>tweenParamRotation</string>
	<key>convolutionAtFramework</key>
	<string>notifierMethodLocation</string>
	<key>ephemeralVectorBrightness</key>
	<string>handlerObserverScale</string>
	<key>finalBehaviorCoord</key>
	<string>composableEffectAppearance</string>
	<key>handlerNearType</key>
	<string>storyboardVersusInterpreter</string>
	<key>isolateNumberMode</key>
	<string>inactiveBrushDensity</string>
	<key>mutableCurveDuration</key>
	<string>logInPrototype</string>
	<key>normThroughState</key>
	<string>techniqueAlongValue</string>
	<key>tickerMethodBottom</key>
	<string>storageVisitorTheme</string>
</dict>
</plist>
