<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonJobColor</key>
	<string>futureFormCount</string>
	<key>challengeThanContext</key>
	<string>collectionPerLayer</string>
	<key>compositionalIconOpacity</key>
	<string>symbolInterpreterLeft</string>
	<key>inactiveAsyncShade</key>
	<string>resolverShapeInterval</string>
	<key>normalCommandInset</key>
	<string>easyEffectDelay</string>
	<key>permissiveFutureDistance</key>
	<string>contractionStructureInteraction</string>
	<key>routeTempleVisibility</key>
	<string>coordinatorInsideFacade</string>
	<key>sineAgainstLayer</key>
	<string>buttonViaVar</string>
	<key>streamTemplePosition</key>
	<string>apertureIncludeAdapter</string>
</dict>
</plist>
