<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorFunctionOpacity</key>
	<string>sceneCompositeAppearance</string>
	<key>difficultIntegerDistance</key>
	<string>modalByParam</string>
	<key>difficultScrollBehavior</key>
	<string>permanentPrecisionType</string>
	<key>instructionThroughStructure</key>
	<string>mediaqueryActionBottom</string>
	<key>plateWithVariable</key>
	<string>resourceFormType</string>
	<key>unactivatedConstraintPressure</key>
	<string>chartCommandCount</string>
	<key>utilStyleSkewx</key>
	<string>smartAspectratioLeft</string>
</dict>
</plist>
