<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitPlatformStatus</key>
	<string>cupertinoPreviewBorder</string>
	<key>axisInterpreterCoord</key>
	<string>modalLevelCoord</string>
	<key>boxshadowWithoutBridge</key>
	<string>popupDecoratorMargin</string>
	<key>gatePlatformKind</key>
	<string>queueFromObserver</string>
	<key>gemPhaseAlignment</key>
	<string>listenerVersusJob</string>
	<key>permissiveGemStyle</key>
	<string>threadWorkTail</string>
	<key>publicArithmeticDuration</key>
	<string>reductionViaShape</string>
	<key>scrollIncludeJob</key>
	<string>pageviewSystemBorder</string>
	<key>sliderExceptVar</key>
	<string>sliderVariableHue</string>
</dict>
</plist>
