<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerAnimationPadding</key>
	<string>animatedMusicType</string>
	<key>borderDuringContext</key>
	<string>nextChannelHead</string>
	<key>cellAdapterDuration</key>
	<string>immutableSubscriptionStatus</string>
	<key>heapDespiteParameter</key>
	<string>challengeVisitorValidation</string>
	<key>loopBesideComposite</key>
	<string>repositoryProcessShape</string>
	<key>rapidSubscriptionFlags</key>
	<string>groupWithoutContext</string>
</dict>
</plist>
