<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncServiceTag</key>
	<string>prevStampInset</string>
	<key>dependencyViaActivity</key>
	<string>sustainableNavigatorVisible</string>
	<key>ignoredGetxSkewy</key>
	<string>textfieldScopeSpeed</string>
	<key>intensityActionVisible</key>
	<string>prevZoneBottom</string>
	<key>materialWorkColor</key>
	<string>configurationStyleMode</string>
	<key>similarAllocatorKind</key>
	<string>flexibleFeatureOrigin</string>
	<key>variantAwayFunction</key>
	<string>resultStageOrientation</string>
</dict>
</plist>
