<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicLocalizationDirection</key>
	<string>subtleResolverPadding</string>
	<key>diversifiedConfigurationState</key>
	<string>scrollCyclePadding</string>
	<key>factoryFlyweightOffset</key>
	<string>swiftActivitySaturation</string>
	<key>hierarchicalExceptionAppearance</key>
	<string>transformerContainActivity</string>
	<key>intermediateStoreDirection</key>
	<string>multiplicationOfShape</string>
	<key>notificationOutsideFacade</key>
	<string>loopDespitePrototype</string>
	<key>numericalDurationForce</key>
	<string>asyncVersusMediator</string>
	<key>pinchableSpriteName</key>
	<string>threadAmongNumber</string>
	<key>resolverFrameworkTail</key>
	<string>navigatorPlatformSpacing</string>
	<key>tickerBridgeOffset</key>
	<string>cellWorkCenter</string>
</dict>
</plist>
