<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationByChain</key>
	<string>textureStructureRotation</string>
	<key>finalAsyncTint</key>
	<string>resultFunctionValidation</string>
	<key>handlerAgainstStrategy</key>
	<string>gateOperationType</string>
	<key>rapidPreviewBehavior</key>
	<string>durationShapeValidation</string>
	<key>usecaseByTask</key>
	<string>ephemeralResourceInterval</string>
</dict>
</plist>
