<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystVersusValue</key>
	<string>themeTypeTint</string>
	<key>disparateModelTension</key>
	<string>checklistWithBridge</string>
	<key>interactiveLabelFlags</key>
	<string>comprehensiveTextureTension</string>
	<key>serviceMementoName</key>
	<string>overlayUntilFramework</string>
	<key>symbolAroundParam</key>
	<string>descriptionExceptPattern</string>
</dict>
</plist>
