<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionActionSaturation</key>
	<string>previewFlyweightFrequency</string>
	<key>completerBeyondWork</key>
	<string>commandLikeAdapter</string>
	<key>composableSubscriptionFlags</key>
	<string>offsetActivityMode</string>
	<key>controllerBeyondTier</key>
	<string>sceneInterpreterIndex</string>
	<key>lazyInterpolationTension</key>
	<string>unactivatedOperationName</string>
	<key>referenceExceptScope</key>
	<string>sinkFrameworkOpacity</string>
	<key>scaleObserverSpacing</key>
	<string>accordionGrayscaleScale</string>
	<key>unaryAmongDecorator</key>
	<string>globalOffsetInteraction</string>
	<key>variantNumberTheme</key>
	<string>offsetAgainstScope</string>
</dict>
</plist>
