<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderOperationTheme</key>
	<string>featureWorkLeft</string>
	<key>fixedInterpolationBehavior</key>
	<string>usedScaffoldState</string>
	<key>iconDespiteStructure</key>
	<string>builderThroughParameter</string>
	<key>independentVectorInset</key>
	<string>interpolationFunctionInterval</string>
	<key>layerAndFunction</key>
	<string>typicalConstraintLeft</string>
	<key>singletonOrLevel</key>
	<string>interpolationTaskShade</string>
	<key>storeNumberDirection</key>
	<string>usecaseOrKind</string>
	<key>sustainableRouteDuration</key>
	<string>injectionInsideProcess</string>
	<key>textIncludeTier</key>
	<string>rowChainKind</string>
</dict>
</plist>
