<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerInActivity</key>
	<string>reducerAwayNumber</string>
	<key>euclideanNodeSpacing</key>
	<string>interactorJobSize</string>
	<key>opaqueAnimationColor</key>
	<string>particleSystemStyle</string>
	<key>streamPerObserver</key>
	<string>draggableStepPressure</string>
</dict>
</plist>
