<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitScopeIndex</key>
	<string>futureBridgeSkewy</string>
	<key>builderCommandTint</key>
	<string>animatedPromiseSkewx</string>
	<key>builderThroughValue</key>
	<string>interfaceChainRotation</string>
	<key>localizationBesideKind</key>
	<string>newestCosineSpeed</string>
	<key>smartExtensionState</key>
	<string>seguePatternSpeed</string>
	<key>timerOrAction</key>
	<string>nodeAndState</string>
</dict>
</plist>
