<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheCycleIndex</key>
	<string>functionalMobileBorder</string>
	<key>columnDuringActivity</key>
	<string>mediumFrameRight</string>
	<key>consultativeListenerSpacing</key>
	<string>associatedPainterDistance</string>
	<key>cubitFormPosition</key>
	<string>persistentPlateStyle</string>
	<key>hashWithoutPrototype</key>
	<string>alphaAdapterKind</string>
	<key>lastMusicAlignment</key>
	<string>radioInsideShape</string>
	<key>visibleStoreValidation</key>
	<string>completerMediatorSize</string>
</dict>
</plist>
