<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperAndPrototype</key>
	<string>tabviewExceptTemple</string>
	<key>decorationMethodSize</key>
	<string>callbackKindLocation</string>
	<key>difficultStoreEdge</key>
	<string>controllerMementoBrightness</string>
	<key>imperativeBatchDepth</key>
	<string>binaryStructureBorder</string>
	<key>lostDecorationOrientation</key>
	<string>playbackByCycle</string>
	<key>particleAwayFlyweight</key>
	<string>stepContainJob</string>
	<key>pivotalCoordinatorDuration</key>
	<string>constQueryContrast</string>
	<key>queryAwayCommand</key>
	<string>intuitiveActivityTheme</string>
	<key>threadJobFrequency</key>
	<string>storageByType</string>
	<key>viewChainHue</key>
	<string>basicMobxVisibility</string>
</dict>
</plist>
