<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionOperationPressure</key>
	<string>configurationByKind</string>
	<key>interfaceAboutStage</key>
	<string>bufferOrBuffer</string>
	<key>overlayMethodBehavior</key>
	<string>activatedReductionMargin</string>
	<key>responsiveStepAppearance</key>
	<string>builderAroundActivity</string>
	<key>techniqueContextShade</key>
	<string>extensionAtAction</string>
	<key>vectorSingletonContrast</key>
	<string>vectorWithoutStructure</string>
</dict>
</plist>
