<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoErrorOrigin</key>
	<string>ternaryIncludeProxy</string>
	<key>autoTextureContrast</key>
	<string>oldSegueDuration</string>
	<key>cycleAsPhase</key>
	<string>scaffoldJobRate</string>
	<key>disparateQueueMargin</key>
	<string>statelessJobVelocity</string>
	<key>mobileAlphaRate</key>
	<string>titleStateFrequency</string>
	<key>priorityActionBrightness</key>
	<string>referenceEnvironmentVelocity</string>
</dict>
</plist>
