<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityProcessMode</key>
	<string>oldInterfaceBrightness</string>
	<key>buttonExceptPhase</key>
	<string>durationAwayPrototype</string>
	<key>callbackPatternOrigin</key>
	<string>customizedTransitionAppearance</string>
	<key>independentAllocatorStyle</key>
	<string>futureAtFunction</string>
	<key>localizationMethodContrast</key>
	<string>tickerViaOperation</string>
	<key>mediaqueryAboutVar</key>
	<string>menuPerFlyweight</string>
	<key>numericalResourceInset</key>
	<string>segmentPlatformOffset</string>
	<key>skinExceptPrototype</key>
	<string>immutableQuerySpeed</string>
</dict>
</plist>
