<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationPlatformTag</key>
	<string>metadataAmongInterpreter</string>
	<key>invisibleAllocatorForce</key>
	<string>allocatorStateDistance</string>
	<key>parallelGatePosition</key>
	<string>factoryOutsideProxy</string>
	<key>resilientSymbolFlags</key>
	<string>subscriptionParameterTension</string>
	<key>richtextDecoratorAcceleration</key>
	<string>storeVersusParam</string>
	<key>subtleGridRotation</key>
	<string>playbackAndDecorator</string>
</dict>
</plist>
