<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerAmongSystem</key>
	<string>sophisticatedQueueVelocity</string>
	<key>comprehensiveMethodContrast</key>
	<string>finalTouchRotation</string>
	<key>enabledScreenPressure</key>
	<string>loopProxyDistance</string>
	<key>heroPhaseVisible</key>
	<string>effectFunctionLocation</string>
	<key>modalOperationPressure</key>
	<string>exponentAmongStage</string>
	<key>reductionCommandCount</key>
	<string>baselineShapeTag</string>
	<key>serviceAlongAction</key>
	<string>logarithmProcessLeft</string>
	<key>tabbarActionPressure</key>
	<string>sliderVarScale</string>
	<key>widgetParamSpacing</key>
	<string>concreteTweenBrightness</string>
</dict>
</plist>
