<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorTierCoord</key>
	<string>textProcessOrigin</string>
	<key>singleTransitionTop</key>
	<string>boxNumberPadding</string>
	<key>sliderStructureEdge</key>
	<string>handlerAgainstType</string>
	<key>tabbarFrameworkMargin</key>
	<string>specifierMethodDelay</string>
	<key>unactivatedRequestTail</key>
	<string>bitrateForStage</string>
</dict>
</plist>
