<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleBinaryLocation</key>
	<string>fixedQueryStatus</string>
	<key>graphAtVisitor</key>
	<string>isolateViaTask</string>
	<key>intermediateMenuAppearance</key>
	<string>positionedAgainstPhase</string>
	<key>rowActionOffset</key>
	<string>serviceNearStrategy</string>
	<key>uniformRadiusLocation</key>
	<string>enabledAnimationDepth</string>
</dict>
</plist>
