<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentThanShape</key>
	<string>euclideanTextSkewx</string>
	<key>builderAboutType</key>
	<string>containerModeFrequency</string>
	<key>commonGrayscaleStyle</key>
	<string>intuitiveHistogramDistance</string>
	<key>currentInterfaceBehavior</key>
	<string>cupertinoByMethod</string>
	<key>enabledBitrateBrightness</key>
	<string>hierarchicalProjectionState</string>
	<key>entityInterpreterAppearance</key>
	<string>currentCosineFormat</string>
	<key>fragmentUntilLayer</key>
	<string>slashBeyondLayer</string>
	<key>otherCallbackTension</key>
	<string>mobileTaskVisibility</string>
	<key>resilientFeatureSize</key>
	<string>typicalSpineEdge</string>
</dict>
</plist>
