<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterScopeKind</key>
	<string>routeFromCommand</string>
	<key>criticalScrollSpacing</key>
	<string>positionedOfInterpreter</string>
	<key>gridVisitorPadding</key>
	<string>chapterLayerTheme</string>
	<key>inactiveCallbackTag</key>
	<string>actionContextSkewy</string>
	<key>movementValueMargin</key>
	<string>commandAlongEnvironment</string>
	<key>positionAboutMediator</key>
	<string>timerPatternFrequency</string>
	<key>tableAndMediator</key>
	<string>displayableSpineHue</string>
	<key>tangentBesideState</key>
	<string>routeKindDirection</string>
</dict>
</plist>
