<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentVisitorDensity</key>
	<string>offsetWorkForce</string>
	<key>comprehensiveChallengePosition</key>
	<string>smartAxisFeedback</string>
	<key>pointContainParameter</key>
	<string>baselineOfJob</string>
	<key>streamTypeTail</key>
	<string>associatedChallengeBottom</string>
	<key>subsequentTextOrigin</key>
	<string>topicFormColor</string>
</dict>
</plist>
