<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocFacadeResponse</key>
	<string>tweenScopeDensity</string>
	<key>brushAdapterMargin</key>
	<string>originalTangentLeft</string>
	<key>capacitiesDuringForm</key>
	<string>allocatorInsideSystem</string>
	<key>gestureWorkEdge</key>
	<string>iterativeAppbarForce</string>
	<key>globalUtilMomentum</key>
	<string>bitrateWorkStyle</string>
	<key>inheritedErrorResponse</key>
	<string>builderInLayer</string>
	<key>mediumTabviewEdge</key>
	<string>layoutProxyMomentum</string>
	<key>paddingOutsideScope</key>
	<string>loopBeyondForm</string>
	<key>permanentStoreOffset</key>
	<string>appbarAlongParameter</string>
	<key>tickerCycleBorder</key>
	<string>controllerShapeVelocity</string>
</dict>
</plist>
