<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationDecoratorDistance</key>
	<string>inheritedViewValidation</string>
	<key>isolateMethodBottom</key>
	<string>gridStateIndex</string>
	<key>nextMarginStatus</key>
	<string>statelessTransformerDuration</string>
	<key>serviceAndSingleton</key>
	<string>techniqueAmongJob</string>
</dict>
</plist>
