<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleObserverForce</key>
	<string>sharedPreviewBound</string>
	<key>arithmeticBlocContrast</key>
	<string>taskFacadeOrientation</string>
	<key>chartThroughShape</key>
	<string>matrixAndOperation</string>
	<key>fusedStreamScale</key>
	<string>usecaseContainTemple</string>
	<key>hyperbolicCoordinatorOrientation</key>
	<string>hardBaseInteraction</string>
	<key>referenceAmongStructure</key>
	<string>easyContainerBound</string>
	<key>singletonWithoutFunction</key>
	<string>agileAsyncFeedback</string>
	<key>stateWorkLeft</key>
	<string>diffableBulletSaturation</string>
	<key>synchronousCardStyle</key>
	<string>lastCanvasBorder</string>
	<key>tappableSingletonAppearance</key>
	<string>globalRequestTension</string>
</dict>
</plist>
