<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackVersusFunction</key>
	<string>alignmentSystemAcceleration</string>
	<key>ignoredCompletionBrightness</key>
	<string>techniqueFlyweightTop</string>
	<key>previewSingletonShape</key>
	<string>textfieldTypeState</string>
</dict>
</plist>
