<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectPrototypeCoord</key>
	<string>taskThroughProxy</string>
	<key>consultativeSkinPosition</key>
	<string>behaviorProxyOrientation</string>
	<key>intuitiveStateTail</key>
	<string>sinkFromDecorator</string>
	<key>mutableNavigatorSkewy</key>
	<string>priorHandlerMomentum</string>
	<key>parallelCompleterBottom</key>
	<string>assetBufferTop</string>
	<key>publicChannelMargin</key>
	<string>cupertinoFunctionFlags</string>
	<key>subscriptionAwayCommand</key>
	<string>gridLevelShade</string>
	<key>titleStructureTheme</key>
	<string>frameForTask</string>
</dict>
</plist>
