<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionMissionVisibility</key>
	<string>particleOfType</string>
	<key>allocatorAmongCommand</key>
	<string>controllerMementoType</string>
	<key>chartFormOrientation</key>
	<string>nodeAsSingleton</string>
	<key>contractionAndNumber</key>
	<string>storageAboutScope</string>
	<key>exponentAwayStage</key>
	<string>cupertinoIntensityPressure</string>
	<key>extensionFrameworkInset</key>
	<string>managerWithFramework</string>
	<key>listviewMethodSpacing</key>
	<string>cupertinoPerValue</string>
	<key>storageForVar</key>
	<string>fusedAsyncSaturation</string>
</dict>
</plist>
