<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaShapeBound</key>
	<string>normalMatrixFrequency</string>
	<key>anchorAndChain</key>
	<string>disparatePresenterBorder</string>
	<key>concurrentContractionBottom</key>
	<string>standaloneLayerDelay</string>
	<key>localizationFacadeOrientation</key>
	<string>textExceptVariable</string>
	<key>menuDespiteScope</key>
	<string>persistentCompositionFeedback</string>
	<key>responsiveParticleDistance</key>
	<string>oldDecorationTag</string>
	<key>semanticReductionTheme</key>
	<string>popupEnvironmentInset</string>
	<key>smallUtilDensity</key>
	<string>nextUtilLocation</string>
	<key>switchCommandKind</key>
	<string>basicGraphValidation</string>
	<key>ternaryVersusTemple</key>
	<string>featureFunctionMargin</string>
</dict>
</plist>
