<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationBesideMethod</key>
	<string>tensorPointName</string>
	<key>animationWithoutNumber</key>
	<string>symmetricResultBehavior</string>
	<key>extensionVariableDirection</key>
	<string>stateSinceProxy</string>
	<key>graphAboutNumber</key>
	<string>rowMediatorTail</string>
	<key>hierarchicalGraphicInset</key>
	<string>variantFromAction</string>
	<key>intensityOutsideVisitor</key>
	<string>overlayFunctionName</string>
	<key>monsterContainProxy</key>
	<string>swiftDuringLayer</string>
	<key>queryExceptJob</key>
	<string>batchPatternOpacity</string>
	<key>storeLevelDepth</key>
	<string>symmetricRowSpeed</string>
</dict>
</plist>
