<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionSingletonAlignment</key>
	<string>concreteTexturePadding</string>
	<key>globalAnimationBorder</key>
	<string>interactiveOptionOrientation</string>
	<key>prismaticRadiusColor</key>
	<string>pageviewWithoutState</string>
	<key>rectByAdapter</key>
	<string>durationNearStage</string>
	<key>respectiveCompleterPadding</key>
	<string>curveOfProcess</string>
	<key>toolOperationAcceleration</key>
	<string>primaryWidgetColor</string>
</dict>
</plist>
