<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAmongMemento</key>
	<string>dependencyVisitorOpacity</string>
	<key>currentFutureCoord</key>
	<string>errorIncludeProcess</string>
	<key>finalPointLocation</key>
	<string>spriteActivityShade</string>
	<key>isolateDecoratorBrightness</key>
	<string>explicitTaskInterval</string>
	<key>permissiveIsolatePressure</key>
	<string>uniqueTransitionBrightness</string>
	<key>positionScopeRotation</key>
	<string>usecaseByMemento</string>
	<key>resourceDuringTemple</key>
	<string>radiusAndState</string>
</dict>
</plist>
