<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonFromStructure</key>
	<string>hierarchicalVariantMargin</string>
	<key>completionMethodStyle</key>
	<string>statelessNearFunction</string>
	<key>expandedParamRight</key>
	<string>euclideanPreviewSkewy</string>
	<key>gridDecoratorOrientation</key>
	<string>streamAdapterBound</string>
	<key>layerFacadeIndex</key>
	<string>responsiveDialogsShape</string>
	<key>playbackOperationMomentum</key>
	<string>eventContainBridge</string>
	<key>resolverAmongStage</key>
	<string>repositoryAgainstPattern</string>
</dict>
</plist>
