<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>globalTaskRotation</key>
	<string>managerBridgeName</string>
	<key>layoutVarOpacity</key>
	<string>resourceAtJob</string>
	<key>queueNearComposite</key>
	<string>completerParameterIndex</string>
	<key>vectorAmongEnvironment</key>
	<string>asyncDecoratorTension</string>
</dict>
</plist>
