<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateBesideStage</key>
	<string>advancedEffectInteraction</string>
	<key>declarativeAnimationInteraction</key>
	<string>uniformEntropyFlags</string>
	<key>iterativeVariantInterval</key>
	<string>routerLayerBrightness</string>
	<key>keyEquipmentSize</key>
	<string>similarSizeStyle</string>
	<key>navigatorDuringInterpreter</key>
	<string>precisionObserverOpacity</string>
	<key>timerCompositeMomentum</key>
	<string>timerFrameworkSize</string>
	<key>unaryAmongActivity</key>
	<string>routerTypeSize</string>
</dict>
</plist>
