<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileResourceTop</key>
	<string>specifyGridSaturation</string>
	<key>associatedScaleTag</key>
	<string>tweenStageFormat</string>
	<key>cartesianTimerSkewx</key>
	<string>skirtLikeObserver</string>
	<key>delicateResourceRotation</key>
	<string>similarPageviewTag</string>
	<key>eagerAnimatedcontainerAlignment</key>
	<string>completionExceptStyle</string>
	<key>extensionFlyweightDepth</key>
	<string>localizationSinceContext</string>
	<key>particleAlongProxy</key>
	<string>notifierStateVisibility</string>
	<key>specifyGiftInset</key>
	<string>movementNumberAcceleration</string>
	<key>techniqueContextBound</key>
	<string>zoneModeScale</string>
</dict>
</plist>
