<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationNearPlatform</key>
	<string>sineViaVariable</string>
	<key>asyncFactoryOffset</key>
	<string>significantMovementDensity</string>
	<key>cubitAlongFunction</key>
	<string>monsterAboutStructure</string>
	<key>functionalInterpolationFormat</key>
	<string>queryAgainstValue</string>
	<key>missedTransformerResponse</key>
	<string>accessoryParamRate</string>
</dict>
</plist>
