<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationByMediator</key>
	<string>grainFromPattern</string>
	<key>normalTaskMode</key>
	<string>musicAwayValue</string>
	<key>responseFormDistance</key>
	<string>vectorFormSpacing</string>
	<key>significantInterpolationAlignment</key>
	<string>reusableSliderDelay</string>
	<key>variantBesidePrototype</key>
	<string>riverpodExceptBridge</string>
</dict>
</plist>
