<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedPriorityFrequency</key>
	<string>completionTaskOrigin</string>
	<key>inheritedTextureTheme</key>
	<string>gesturedetectorCompositeSpacing</string>
	<key>sequentialGroupOpacity</key>
	<string>lostBrushStatus</string>
</dict>
</plist>
