<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocCyclePadding</key>
	<string>frameOutsideLevel</string>
	<key>curveThanMethod</key>
	<string>promiseParameterResponse</string>
	<key>exponentBesidePlatform</key>
	<string>blocObserverValidation</string>
	<key>immediateActivityValidation</key>
	<string>directFeatureBehavior</string>
	<key>interactorTierResponse</key>
	<string>repositoryBeyondParameter</string>
	<key>modelVarFlags</key>
	<string>listviewVariableDensity</string>
	<key>sizeVarIndex</key>
	<string>easyCurveSpacing</string>
	<key>timerPerState</key>
	<string>multiRouteEdge</string>
</dict>
</plist>
