<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationBesideMemento</key>
	<string>ignoredViewHue</string>
	<key>bufferPlatformFlags</key>
	<string>loopByLevel</string>
	<key>buttonAsOperation</key>
	<string>cubePhaseDensity</string>
	<key>callbackIncludeMethod</key>
	<string>layoutStateStatus</string>
	<key>columnChainAlignment</key>
	<string>cycleDuringTier</string>
	<key>composableIntensityBorder</key>
	<string>durationCycleLeft</string>
	<key>compositionTempleStyle</key>
	<string>widgetExceptProxy</string>
	<key>decorationValueShape</key>
	<string>frameThroughPattern</string>
	<key>popupEnvironmentLocation</key>
	<string>cupertinoActivityBottom</string>
	<key>tweenDespiteObserver</key>
	<string>actionBufferResponse</string>
</dict>
</plist>
