<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediocreTopicStyle</key>
	<string>chartAroundScope</string>
	<key>resourceOfBuffer</key>
	<string>hierarchicalRadiusRotation</string>
	<key>swiftActionDepth</key>
	<string>asyncEnvironmentLeft</string>
	<key>themeNumberAppearance</key>
	<string>builderThanChain</string>
	<key>vectorSystemTension</key>
	<string>extensionInStrategy</string>
</dict>
</plist>
