<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarCompositeKind</key>
	<string>disparateEntitySkewy</string>
	<key>comprehensiveActionAlignment</key>
	<string>isolateInterpreterTheme</string>
	<key>curveFromNumber</key>
	<string>groupPatternDensity</string>
	<key>descriptionOrCycle</key>
	<string>effectDespitePrototype</string>
	<key>durationTypeDistance</key>
	<string>gridviewBridgeFrequency</string>
	<key>sophisticatedSkinDistance</key>
	<string>metadataSinceMode</string>
</dict>
</plist>
