<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentWithVar</key>
	<string>mapPerJob</string>
	<key>asyncAndTier</key>
	<string>animatedBulletTheme</string>
	<key>cubeModeVelocity</key>
	<string>allocatorUntilEnvironment</string>
	<key>hardRoleShape</key>
	<string>resolverVisitorOpacity</string>
	<key>intermediateEntityStyle</key>
	<string>significantSampleIndex</string>
	<key>methodUntilStyle</key>
	<string>materialAlongState</string>
	<key>primaryLayoutCoord</key>
	<string>liteAccessorySize</string>
</dict>
</plist>
