<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstErrorDelay</key>
	<string>cupertinoNavigatorCenter</string>
	<key>layerMethodForce</key>
	<string>tickerLikeLevel</string>
	<key>paddingOfInterpreter</key>
	<string>isolateSystemIndex</string>
	<key>profileScopeTension</key>
	<string>agileGestureTag</string>
	<key>requestShapeDuration</key>
	<string>heapBySystem</string>
	<key>statelessInsideChain</key>
	<string>commandInTemple</string>
</dict>
</plist>
