<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonSizedboxResponse</key>
	<string>stackVariableMode</string>
	<key>concreteSingletonValidation</key>
	<string>observerBesideEnvironment</string>
	<key>graphicPrototypeSize</key>
	<string>crucialTweenSkewx</string>
	<key>injectionOutsideKind</key>
	<string>configurationParameterHue</string>
	<key>layerInVariable</key>
	<string>completerBridgeVisible</string>
	<key>previewParamAcceleration</key>
	<string>newestFragmentResponse</string>
	<key>typicalConvolutionValidation</key>
	<string>multiCurveDirection</string>
</dict>
</plist>
