<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalizationViaValue</key>
	<string>singletonExceptBridge</string>
	<key>kernelPatternName</key>
	<string>modelTaskName</string>
	<key>managerAsMethod</key>
	<string>oldDescriptionBottom</string>
	<key>missedNodeForce</key>
	<string>labelProxyFormat</string>
	<key>repositoryAgainstVar</key>
	<string>dimensionFrameworkSize</string>
</dict>
</plist>
