<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowAboutSystem</key>
	<string>loopAmongMethod</string>
	<key>displayableSliderSpeed</key>
	<string>diversifiedPriorityDelay</string>
	<key>listenerWithoutChain</key>
	<string>effectKindDuration</string>
	<key>monsterCompositeTransparency</key>
	<string>cartesianLayoutSaturation</string>
	<key>precisionAgainstLayer</key>
	<string>observerVarHue</string>
	<key>standaloneStreamShape</key>
	<string>normalSubscriptionFormat</string>
</dict>
</plist>
