<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionStyleStatus</key>
	<string>characterTempleHue</string>
	<key>extensionWorkInterval</key>
	<string>otherMediaqueryOffset</string>
	<key>handlerProcessStatus</key>
	<string>marginJobInset</string>
	<key>movementAsStrategy</key>
	<string>navigatorDuringPattern</string>
	<key>resourcePlatformRotation</key>
	<string>parallelAspectBottom</string>
</dict>
</plist>
