<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleFrameDirection</key>
	<string>spotChainCount</string>
	<key>coordinatorInterpreterContrast</key>
	<string>routeStyleInset</string>
	<key>eagerTextureForce</key>
	<string>queueTierVisibility</string>
	<key>futureSingletonDuration</key>
	<string>factoryNumberHead</string>
</dict>
</plist>
