<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedGesturedetectorPadding</key>
	<string>popupParameterDuration</string>
	<key>asynchronousShaderTop</key>
	<string>compositionalFeatureShape</string>
	<key>binaryAlongMemento</key>
	<string>textUntilMode</string>
	<key>errorUntilPrototype</key>
	<string>draggableConstraintKind</string>
	<key>secondAwaitState</key>
	<string>alphaBridgeShade</string>
	<key>viewThroughKind</key>
	<string>cacheThanAdapter</string>
</dict>
</plist>
