<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerMediaqueryDistance</key>
	<string>exceptionPerFramework</string>
	<key>geometricChapterInset</key>
	<string>immediateWorkflowInset</string>
	<key>grainAroundObserver</key>
	<string>utilEnvironmentOpacity</string>
	<key>responseTypeTail</key>
	<string>consultativeDelegateDistance</string>
	<key>statelessManagerSkewy</key>
	<string>projectChainKind</string>
	<key>uniformDecorationVisible</key>
	<string>labelInStage</string>
</dict>
</plist>
