<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryMementoKind</key>
	<string>newestRadiusDistance</string>
	<key>characterTypeValidation</key>
	<string>webLayerScale</string>
	<key>exponentContainVariable</key>
	<string>animatedcontainerViaBridge</string>
	<key>resultAboutNumber</key>
	<string>multiplicationAndPattern</string>
	<key>sortedAlphaOrigin</key>
	<string>navigatorCommandHead</string>
	<key>tabviewFacadeOrigin</key>
	<string>oldProjectionShape</string>
</dict>
</plist>
