<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectContainPattern</key>
	<string>curveIncludeFunction</string>
	<key>futureThanParameter</key>
	<string>opaqueReducerVelocity</string>
	<key>hashInsideInterpreter</key>
	<string>notifierViaProxy</string>
	<key>inheritedReducerSize</key>
	<string>substantialCurveFormat</string>
</dict>
</plist>
