<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationAdapterTop</key>
	<string>groupWithoutStyle</string>
	<key>draggableAssetBound</key>
	<string>subpixelLevelDuration</string>
	<key>methodDuringPrototype</key>
	<string>delicateProjectBound</string>
	<key>paddingAboutNumber</key>
	<string>reductionAdapterSpacing</string>
	<key>profilePrototypeTag</key>
	<string>semanticsByScope</string>
	<key>shaderJobHead</key>
	<string>multiBufferIndex</string>
	<key>ternaryThanLevel</key>
	<string>actionOutsideTemple</string>
</dict>
</plist>
