<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentEventTop</key>
	<string>bulletMementoForce</string>
	<key>grainCycleColor</key>
	<string>denseTransitionAcceleration</string>
	<key>statelessCoordinatorShape</key>
	<string>loopInsideStrategy</string>
	<key>titleTierOpacity</key>
	<string>chapterThanPattern</string>
</dict>
</plist>
