<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertFormStyle</key>
	<string>diffableColumnTint</string>
	<key>desktopTextPadding</key>
	<string>baselineAroundSystem</string>
	<key>geometricWidgetMargin</key>
	<string>textAboutOperation</string>
	<key>layerPerForm</key>
	<string>scaleNumberDuration</string>
	<key>logarithmIncludeShape</key>
	<string>actionTypeLeft</string>
	<key>observerInsideFlyweight</key>
	<string>hashKindLocation</string>
	<key>observerScopeForce</key>
	<string>popupAlongFlyweight</string>
	<key>screenNumberTransparency</key>
	<string>substantialStepHue</string>
	<key>smartIntegerScale</key>
	<string>menuEnvironmentMargin</string>
</dict>
</plist>
