<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncScaleContrast</key>
	<string>originalDialogsFormat</string>
	<key>callbackOutsideFramework</key>
	<string>streamActionInterval</string>
	<key>keyGraphicBound</key>
	<string>delegateKindDepth</string>
	<key>managerUntilCycle</key>
	<string>previewCommandMode</string>
	<key>navigatorObserverInset</key>
	<string>crucialScreenLeft</string>
	<key>resourceValueEdge</key>
	<string>uniformManagerDelay</string>
	<key>routeSinceProcess</key>
	<string>positionAdapterForce</string>
	<key>textureOrJob</key>
	<string>subsequentSubpixelFlags</string>
</dict>
</plist>
