<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintInsideEnvironment</key>
	<string>segueInterpreterMomentum</string>
	<key>errorSinceTier</key>
	<string>ephemeralPlaybackFlags</string>
	<key>handlerOutsideBridge</key>
	<string>containerPlatformDirection</string>
	<key>hardBuilderContrast</key>
	<string>seamlessRadiusResponse</string>
	<key>integerAndState</key>
	<string>buttonVarBound</string>
	<key>screenCycleTheme</key>
	<string>groupPrototypeInterval</string>
	<key>transitionEnvironmentFlags</key>
	<string>sizeStyleCoord</string>
	<key>transitionViaNumber</key>
	<string>storeForJob</string>
</dict>
</plist>
