<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarSingletonFrequency</key>
	<string>inactiveCubitRate</string>
	<key>asyncVisitorDepth</key>
	<string>routeMediatorName</string>
	<key>disabledListviewColor</key>
	<string>pinchableBorderBound</string>
	<key>elasticTweenTheme</key>
	<string>skinOfVariable</string>
	<key>gradientSystemResponse</key>
	<string>zoneFrameworkSaturation</string>
	<key>optionStructureDepth</key>
	<string>gesturedetectorOrType</string>
	<key>positionActivityTag</key>
	<string>invisibleAnimationHue</string>
	<key>reductionForPattern</key>
	<string>uniqueMethodShade</string>
	<key>repositoryFormEdge</key>
	<string>animatedObserverEdge</string>
	<key>transitionAmongPrototype</key>
	<string>eventBesideActivity</string>
</dict>
</plist>
