<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitExceptStage</key>
	<string>normalAnimationName</string>
	<key>cubitInterpreterBottom</key>
	<string>euclideanResourceRight</string>
	<key>offsetBridgePadding</key>
	<string>deferredCanvasSpeed</string>
	<key>originalHistogramAppearance</key>
	<string>movementSystemValidation</string>
	<key>painterShapeValidation</key>
	<string>normalUtilLeft</string>
	<key>rectOutsideFlyweight</key>
	<string>aspectForContext</string>
	<key>textureAwayStrategy</key>
	<string>blocSinceVar</string>
</dict>
</plist>
