<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalAlignmentHue</key>
	<string>sizeStyleName</string>
	<key>declarativeLossEdge</key>
	<string>plateAsStyle</string>
	<key>dedicatedCollectionTransparency</key>
	<string>arithmeticBlocName</string>
	<key>mediocreAwaitMomentum</key>
	<string>topicPatternPressure</string>
	<key>radioAndActivity</key>
	<string>globalStoryboardShape</string>
	<key>referenceAboutContext</key>
	<string>symbolShapeTail</string>
	<key>resourceForTask</key>
	<string>intensityPlatformLocation</string>
	<key>stackWithAdapter</key>
	<string>coordinatorViaFramework</string>
</dict>
</plist>
