<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryJobSpacing</key>
	<string>controllerStateHead</string>
	<key>fragmentCycleDistance</key>
	<string>accordionAlignmentStyle</string>
	<key>instructionPlatformType</key>
	<string>transformerStructureIndex</string>
	<key>layoutMediatorSaturation</key>
	<string>positionAmongScope</string>
	<key>mainAnimationMargin</key>
	<string>brushAboutDecorator</string>
	<key>sizedboxCompositeBound</key>
	<string>usedCustompaintBehavior</string>
	<key>tweenOfNumber</key>
	<string>iterativeChartMargin</string>
</dict>
</plist>
