<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerSizeType</key>
	<string>lazyDescriptionHead</string>
	<key>constSwiftTransparency</key>
	<string>pinchableResponseSize</string>
	<key>containerModeSaturation</key>
	<string>listenerPlatformDepth</string>
	<key>disparateSymbolTail</key>
	<string>pageviewViaAction</string>
	<key>handlerWithFlyweight</key>
	<string>behaviorStrategyVelocity</string>
	<key>variantExceptMediator</key>
	<string>positionBesideInterpreter</string>
</dict>
</plist>
