<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSensorTag</key>
	<string>taskThanNumber</string>
	<key>buttonMethodPressure</key>
	<string>robustGesturePosition</string>
	<key>containerForStructure</key>
	<string>zoneModeSize</string>
	<key>eventNearType</key>
	<string>textForEnvironment</string>
	<key>firstDescriptionMargin</key>
	<string>allocatorLayerSpeed</string>
</dict>
</plist>
