<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultResponseDirection</key>
	<string>gesturedetectorAlongScope</string>
	<key>histogramPhaseStatus</key>
	<string>granularCheckboxRate</string>
	<key>significantCompletionOrigin</key>
	<string>mobileCoordinatorDistance</string>
</dict>
</plist>
