<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentPhaseDepth</key>
	<string>publicPromiseInset</string>
	<key>commandLayerFlags</key>
	<string>viewPrototypeType</string>
	<key>disabledChartVisible</key>
	<string>captionByPhase</string>
	<key>durationParameterShade</key>
	<string>imageMediatorIndex</string>
	<key>newestAspectFormat</key>
	<string>blocAndFacade</string>
	<key>radiusViaAction</key>
	<string>mobileViaSingleton</string>
</dict>
</plist>
