<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futurePlatformSaturation</key>
	<string>unaryLayerTension</string>
	<key>intensityExceptScope</key>
	<string>integerNumberTop</string>
	<key>parallelFutureState</key>
	<string>webSingletonValidation</string>
	<key>referenceExceptCycle</key>
	<string>nibMethodTint</string>
	<key>resourcePerObserver</key>
	<string>threadStageTension</string>
	<key>statelessKindForce</key>
	<string>movementIncludeMediator</string>
</dict>
</plist>
