<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logarithmFacadeBorder</key>
	<string>remainderPlatformEdge</string>
	<key>methodBesideFlyweight</key>
	<string>invisibleResourceShape</string>
	<key>resizableSceneShape</key>
	<string>adaptiveDescriptionHead</string>
	<key>textBridgeOffset</key>
	<string>accessoryProxyOrientation</string>
	<key>unactivatedInstructionRate</key>
	<string>skinJobBrightness</string>
</dict>
</plist>
