<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoViewMomentum</key>
	<string>ephemeralTaskShape</string>
	<key>deferredPainterRotation</key>
	<string>buttonWithoutStage</string>
	<key>deferredStatefulStyle</key>
	<string>typicalDescriptionOpacity</string>
	<key>intuitiveRouteOffset</key>
	<string>mobileFacadeSpeed</string>
	<key>nodePhaseAlignment</key>
	<string>promiseAwayPrototype</string>
	<key>offsetAmongShape</key>
	<string>sortedTimerInteraction</string>
	<key>protectedCurveTension</key>
	<string>clipperAboutVariable</string>
	<key>viewContextOrigin</key>
	<string>awaitTierDistance</string>
</dict>
</plist>
