<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnWithoutObserver</key>
	<string>protocolContainLayer</string>
	<key>interfaceCompositeVisible</key>
	<string>tweenThroughLevel</string>
	<key>mainEntityValidation</key>
	<string>responseContainTemple</string>
	<key>mobileSubscriptionScale</key>
	<string>chapterModeInset</string>
	<key>themeSystemSaturation</key>
	<string>materialReducerShape</string>
</dict>
</plist>
