<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalViewContrast</key>
	<string>tweenDecoratorBottom</string>
	<key>geometricRequestDelay</key>
	<string>mobileZoneSpeed</string>
	<key>notifierSinceAction</key>
	<string>multiplicationDecoratorTint</string>
	<key>publicInteractorCenter</key>
	<string>monsterForEnvironment</string>
	<key>requestStageRate</key>
	<string>cardProcessHue</string>
	<key>sinkMediatorDirection</key>
	<string>scaffoldThroughTask</string>
	<key>subtleGraphicPressure</key>
	<string>timerIncludeMode</string>
</dict>
</plist>
