<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exponentLikeSingleton</key>
	<string>composableTextCoord</string>
	<key>grainActivityDistance</key>
	<string>bufferContainStructure</string>
	<key>roleByMethod</key>
	<string>requestForScope</string>
	<key>subscriptionFunctionRate</key>
	<string>imperativeUsecaseVelocity</string>
</dict>
</plist>
