<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionConstraintState</key>
	<string>taskByChain</string>
	<key>bitrateMediatorDepth</key>
	<string>effectModeVelocity</string>
	<key>commonTitleColor</key>
	<string>spriteNearStyle</string>
	<key>mediaqueryWithPattern</key>
	<string>methodShapeSize</string>
	<key>staticHistogramTop</key>
	<string>documentAroundEnvironment</string>
</dict>
</plist>
