<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lostDropdownbuttonMomentum</key>
	<string>textAroundFramework</string>
	<key>particleOrStage</key>
	<string>heroInsideFacade</string>
	<key>requestOfKind</key>
	<string>segmentMethodShade</string>
	<key>scaleStructureInterval</key>
	<string>adaptiveAnimationOpacity</string>
	<key>spriteCompositeTransparency</key>
	<string>deferredChannelTag</string>
</dict>
</plist>
