<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyCubitDirection</key>
	<string>scrollableDurationSkewx</string>
	<key>pinchableErrorMomentum</key>
	<string>inheritedMethodFormat</string>
	<key>pivotalPlateOpacity</key>
	<string>samplePatternMode</string>
	<key>tensorParticleCount</key>
	<string>stampEnvironmentCoord</string>
	<key>timerTaskType</key>
	<string>popupOperationTop</string>
	<key>unsortedEqualizationSpacing</key>
	<string>entityVersusType</string>
	<key>usedConsumerDelay</key>
	<string>injectionPrototypeName</string>
	<key>utilThanStage</key>
	<string>asyncTempleSpacing</string>
</dict>
</plist>
