<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableMetadataBorder</key>
	<string>fragmentBesideEnvironment</string>
	<key>exceptionAtFlyweight</key>
	<string>completerAlongContext</string>
	<key>imageAroundFacade</key>
	<string>mediumPositionedType</string>
	<key>requestCycleShade</key>
	<string>transitionPerTemple</string>
	<key>sequentialOverlayShade</key>
	<string>remainderAmongComposite</string>
	<key>subscriptionSingletonAlignment</key>
	<string>tensorNavigatorForce</string>
</dict>
</plist>
