<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultObserverContrast</key>
	<string>inactiveGrainEdge</string>
	<key>groupLayerRotation</key>
	<string>equipmentNearCycle</string>
	<key>interfaceAtProcess</key>
	<string>commandOfVar</string>
	<key>tappableDurationMomentum</key>
	<string>activatedLayoutStyle</string>
	<key>touchModeBorder</key>
	<string>permissiveConvolutionIndex</string>
	<key>utilAgainstFlyweight</key>
	<string>cubitDecoratorColor</string>
</dict>
</plist>
