<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoDrawerSpacing</key>
	<string>localLabelSaturation</string>
	<key>featureModeVisible</key>
	<string>usedAlignmentFeedback</string>
	<key>granularTransformerAppearance</key>
	<string>taskForOperation</string>
	<key>logarithmAdapterSkewy</key>
	<string>multiControllerCount</string>
	<key>serviceAtStyle</key>
	<string>newestBufferOffset</string>
	<key>staticConfigurationCenter</key>
	<string>contractionCompositeSpacing</string>
</dict>
</plist>
