<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleTierKind</key>
	<string>intuitiveErrorInterval</string>
	<key>denseMasterSkewy</key>
	<string>loopThanPrototype</string>
	<key>effectActionDepth</key>
	<string>swiftAlongMode</string>
	<key>normalAnimationPressure</key>
	<string>priorityPhaseCount</string>
	<key>oldViewDuration</key>
	<string>errorParamVelocity</string>
	<key>singletonBesideEnvironment</key>
	<string>iterativeTransitionTint</string>
	<key>sliderVarStatus</key>
	<string>decorationAlongSystem</string>
	<key>viewIncludeLevel</key>
	<string>sharedRouterType</string>
</dict>
</plist>
