<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioParamVisibility</key>
	<string>layoutPerVariable</string>
	<key>graphCommandOffset</key>
	<string>radiusLayerState</string>
	<key>interactorFacadeBound</key>
	<string>futureDespitePlatform</string>
	<key>protectedThemeBehavior</key>
	<string>marginProxyBottom</string>
	<key>queueThroughTask</key>
	<string>autoLayoutDepth</string>
	<key>reactiveMultiplicationFrequency</key>
	<string>specifierAboutStrategy</string>
	<key>spotModeMargin</key>
	<string>unactivatedMarginDensity</string>
	<key>vectorDuringLevel</key>
	<string>monsterBeyondPlatform</string>
</dict>
</plist>
