<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerScopeOrientation</key>
	<string>spinePrototypeMargin</string>
	<key>documentLayerStatus</key>
	<string>missedExponentType</string>
	<key>fusedGateOrientation</key>
	<string>collectionParameterSaturation</string>
	<key>interactorFromFlyweight</key>
	<string>interactiveTextTheme</string>
	<key>repositoryInPhase</key>
	<string>robustConstraintDirection</string>
	<key>specifyNibPressure</key>
	<string>coordinatorShapeOrientation</string>
	<key>ternaryIncludeStage</key>
	<string>textureTypeForce</string>
	<key>tickerIncludePhase</key>
	<string>similarWorkflowTop</string>
</dict>
</plist>
