<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelDuringStyle</key>
	<string>topicValuePosition</string>
	<key>characterAgainstProxy</key>
	<string>crudeMethodOffset</string>
	<key>drawerThanTemple</key>
	<string>stateCompositeTag</string>
	<key>hierarchicalChannelValidation</key>
	<string>interpolationAtStrategy</string>
	<key>interactiveBehaviorBrightness</key>
	<string>sortedButtonShape</string>
	<key>layoutWithoutKind</key>
	<string>normalInterpolationTail</string>
	<key>originalAnimationTop</key>
	<string>unsortedAsyncTension</string>
	<key>semanticTableTail</key>
	<string>binaryThroughStage</string>
	<key>storageAndShape</key>
	<string>substantialPlaybackSaturation</string>
	<key>viewLayerAlignment</key>
	<string>routeWorkLeft</string>
</dict>
</plist>
